dist/contacts.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/style.css"/><link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <!--meta(name="viewport", content="width=device-width, initial-scale=1")-->
    <!--if GoogleFonts-->
    <!--  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>-->
  </head>
  <body>
    <header class="header">
      <div class="header__top">
        <div class="row container"><span class="header__top-item col__30">Саморегулируемая организация</span><span class="header__top-item col__50"><a href="mailto:info@apcmed.ru " class="mail">info@apcmed.ru</a><a href="tel:+74957698568" class="tel">+7 (495) 769-85-68</a></span>
          <div class="header__top-item right inline"><a class="lang"><span class="lang__item">рус</span></a><span class="lang__center">&nbsp&nbsp|&nbsp&nbsp</span><a class="lang"><span class="lang__item">en</span></a>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="header__bottom">
        <div class="header__inner container clearfix">
          <div class="header__title"><a href="index.html" class="header__logo"><span class="logo"></span></a>
            <h1 class="header__title-text">Ассоциация Частных Клиник<br/>Москвы и ЦФО</h1>
          </div>
          <div class="header__menu"><a href="/" class="menu__list-logo img-wrap"><img src="images/logo.png"/></a>
            <ol class="menu__list">
              <li class="menu__list-item"><a href="about.html">ОБ АССОЦИАЦИИ</a></li>
              <li class="menu__list-item"><a href="news.html">НОВОСТИ</a></li>
              <li class="menu__list-item"><a href="events.html">СОБЫТИЯ И ОБУЧЕНИЕ</a></li>
              <li class="menu__list-item"><a>АНАЛИТИКА</a></li>
              <li class="menu__list-item"><a>ПРЕСС-ЦЕНТР</a></li>
              <li class="menu__list-item"><a href="contacts.html">КОНТАКТЫ</a></li>
            </ol>
          </div>
          <div class="header__icons clearfix">
            <form id="headSearchForm" class="toggleform search__form search__form--top">
              <input type="text" name="search" placeholder="Введите поисковый запрос..." class="search__form-input"/>
            </form><a id="hSearch" class="fa__icons-link"><i class="fa fa-search" aria-hidden="true"></i></a>
            <form id="headMailForm" class="toggleform mail__form mail__form--top">
              <input type="email" name="email" placeholder="Ваш e-mail..." class="mail__form-input"/>
              <input type="submit" value="Отправить" class="mail__form-input mail__form-input--submit"/>
            </form><a id="hMail" class="fa__icons-link"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            <div id="headShare" class="share-box share-box--header"><a class="share-box__link"><i class="fa fa-vk"></i></a><a class="share-box__link"><i class="fa fa-facebook"></i></a><a class="share-box__link"><i class="fa fa-twitter"></i></a></div><a id="hShare" class="fa__icons-link"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </header>
    <div id="particles"></div>
    <main>
      <section class="section__content bg-white">
        <div class="container">
          <aside class="sidebar">
            <div class="sidebar__header"><span class="sidebar__header-inner">06.</span></div>
          </aside>
          <div class="section__content-main padding__row">
            <h1 class="section__content-title">Наши<br>контакты</h1>
            <div class="padding-horiz">
              <p class="str11"><span class="str12">Приглашаем к диалогу!</span>&nbspНапишите нам или приезжайте в офис - обсудим все волнующие вас вопросы.</p>
            </div>
            <div class="padding-horiz inline inline--top">
              <div class="col__50"><span class="str8"><b>Адрес для<br>корреспонденции</b></span>
                <div class="padding-horiz"><span class="str10">117419 г. Москва<br>2-й Верхний Михайловский, д.9, стр.2</span></div>
              </div>
              <div class="col__50"><span class="str8"><b>Адрес для<br>корреспонденции</b></span>
                <div class="padding__row"><span class="str10">117419 г. Москва<br>2-й Верхний Михайловский, д.9, стр.2</span></div>
              </div>
            </div>
            <div class="inline inline--top mb-20">
              <div class="col__50"><span class="str8"><b>Адрес для<br>корреспонденции</b></span>
                <div class="padding__row"><span class="str10">117419 г. Москва<br>2-й Верхний Михайловский, д.9, стр.2</span></div>
              </div>
              <div class="col__50"><span class="str8"><b>Адрес для<br>корреспонденции</b></span>
                <div class="padding__row"><span class="str10">117419 г. Москва<br>2-й Верхний Михайловский, д.9, стр.2</span></div>
              </div>
            </div>
            <div class="padding-horiz"><span class="section__content-title"><span class="bookmark-arrow"></span>Отправить сообщение</span></div>
            <div class="padding-horiz mb-20">
              <div class="contact__form">
                <form action="">
                  <div class="popup__row">
                    <label class="str10"><b>Ваше имя:</b></label><br><br>
                    <input type="text">
                  </div>
                  <div class="popup__row">
                    <label class="str10"><b>Ваше сообщение:</b></label><br><br>
                    <textarea type="text"></textarea>
                  </div>
                  <div class="popup__row">
                    <div class="col__40">
                      <input type="submit" value="Отправить сообщение" class="popup__submit border-btn border-btn--red">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="map">
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
        <script src="js/icon_customImage.js" type="text/javascript"></script>
        <div id="map"></div>
      </section>
    </main>
    <div class="border-hr"></div>
    <div class="bg-white padding-horiz">
      <div class="container padding-horiz"><span class="str12">Ассоциация Частных Клиник Москвы благодарит за оказываеюмую помощь и приглашает к сотрудничеству всех заинтересованных лиц и оранизации.</span></div>
    </div>
    <footer class="footer">
      <div class="footer__menu">
        <div class="container padding-horiz">
          <ol class="menu__list">
            <li class="menu__list-item"><a href="about.html" class="menu__list-link">ОБ АССОЦИАЦИИ</a>
              <div class="menu__list-submenu"><a href="about.html" class="menu__list-submenu-link">ОБ АССОЦИАЦИИ</a><a href="join.html" class="menu__list-submenu-link">КАК ВСТУПИТЬ</a><a href="clinics.html" class="menu__list-submenu-link">НАШИ КЛИНИКИ</a><a href="people.html" class="menu__list-submenu-link">ЛИЦА АССОЦИАЦИИ</a><a href="partners.html" class="menu__list-submenu-link">ИНФОРМАЦИОННЫЕ ПАРТНЕРЫ</a><a href="code.html" class="menu__list-submenu-link">ЭТИЧЕСКИЙ КОДЕКС</a><a href="specification.html" class="menu__list-submenu-link">ПОЛОЖЕНИЯ, СТАНДАРТЫ, ПРАВИЛА</a><a href="registry.html" class="menu__list-submenu-link">РЕЕСТР АССОЦИАЦИИ</a></div>
            </li>
            <li class="menu__list-item"><a href="news.html" class="menu__list-link">НОВОСТИ</a>
              <div class="menu__list-submenu"><a class="menu__list-submenu-link">ВСЕ НОВОСТИ</a><a class="menu__list-submenu-link">НОВОСТИ АССОЦИАЦИИ</a><a class="menu__list-submenu-link">НОВОСТИ ЗДРАВООХРАНЕНИЯ</a></div>
            </li>
            <li class="menu__list-item"><a href="events.html" class="menu__list-link">СОБЫТИЯ И ОБУЧЕНИЕ</a>
              <div class="menu__list-submenu"><a class="menu__list-submenu-link">ВСЕ МЕРОПРИЯТИЯ</a><a class="menu__list-submenu-link">СОБЫТИЯ</a><a class="menu__list-submenu-link">ОБУЧЕНИЕ</a></div>
            </li>
            <li class="menu__list-item"><a>АНАЛИТИКА</a></li>
            <li class="menu__list-item"><a>ПРЕСС-ЦЕНТР</a></li>
            <li class="menu__list-item"><a href="contacts.html">КОНТАКТЫ</a></li>
          </ol>
        </div>
      </div>
      <div class="footer__top">
        <div class="container inline">
          <div class="footer__leftside"><a class="border-btn jsJoin"><i class="fa fa-long-arrow-right"></i>Вступить в ассоциацию</a><a href="tel:+74957698568" class="tel">+7 (495) 769-85-68</a></div>
          <div class="footer__icons">
            <form id="footSearchForm" class="toggleform search__form">
              <input type="text" name="search" placeholder="Введите поисковый запрос..." class="search__form-input"/>
            </form><a id="fSearch" class="fa__icons-link"><i class="fa fa-search" aria-hidden="true"></i></a>
            <form id="footMailForm" class="toggleform mail__form">
              <input type="email" name="email" placeholder="Ваш e-mail..." class="mail__form-input"/>
              <input type="submit" value="Отправить" class="mail__form-input mail__form-input--submit"/>
            </form><a id="fMail" class="fa__icons-link"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            <div id="footShare" class="share-box share-box--footer"><a class="share-box__link"><i class="fa fa-vk"></i></a><a class="share-box__link"><i class="fa fa-facebook"></i></a><a class="share-box__link"><i class="fa fa-twitter"></i></a></div><a id="fShare" class="fa__icons-link"><i class="fa fa-share-alt" aria-hidden="true"></i></a><a id="fMenu" class="fa__icons-link fa__icons-link--bars"><i id="menuBtn" class="fa fa-bars"></i></a>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container inline"><a class="footer__logo"></a><span class="footer__copy">© Ассоциация Частных Клиник Москвы, 2016</span>
          <div class="footer__social"><a class="footer__social-link"><i class="fa fa-vk"></i></a><a class="footer__social-link"><i class="fa fa-facebook"></i></a><a class="footer__social-link"><i class="fa fa-twitter"></i></a></div>
        </div>
      </div>
    </footer>
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/jquery.particleground.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/fullcalendar.min.js"></script>
    <script src="js/ru.js"></script>
    <script src="js/bxslider.min.js"></script>
    <script src="js/main.js"></script>
    <div class="popup">
      <div class="popup__container padding-container jsJoinPopup">
        <div class="popup__close-wrapper">
          <div class="popup__close right">
            <div class="x shift large"><b></b><b></b><b></b><b></b></div>
          </div>
        </div>
        <div class="popup__inner">
          <div class="popup__title padding-horiz tac"><span class="section__content-title red">Заявка<br/>на вступление в Ассоциацию</span></div><span class="str14">* Отмечены поля обязательные к заполнению</span>
          <div class="popup__form">
            <form action="">
              <div class="popup__row">
                <label class="str10">* Полное юридическое название компании:</label><br/>
                <input type="text" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">* Торговое название компании:</label><br/>
                <input type="text" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">Адрес корпоративного сайта:</label><br/>
                <input type="text"/>
              </div>
              <div class="popup__row">
                <label class="str10">* ФИО контактного лица:</label><br/>
                <input type="text" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">* Телефон контактного лица:</label><br/>
                <input type="tel" pattern="+7-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">Контактный e-mail:</label><br/>
                <input type="email"/>
              </div>
              <div class="popup__row clearfix">
                <div class="right">
                  <input type="submit" value="Отправить" class="popup__submit border-btn border-btn--red"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

jade/contacts.jade
extends layout
include mixins.jade

block content
    main
        section.section__content.bg-white
            .container
                +sidebar6
                .section__content-main.padding__row
                    h1.section__content-title
                        |Наши
                        br
                        |контакты

                    .padding-horiz
                        p.str11
                            span.str12 Приглашаем к диалогу!
                            | &nbspНапишите нам или приезжайте в офис - обсудим все волнующие вас вопросы.
                    .padding-horiz.inline.inline--top
                        .col__50
                            span.str8
                                b
                                    |Адрес для
                                    br
                                    |корреспонденции
                            .padding-horiz
                                span.str10
                                    | 117419 г. Москва
                                    br
                                    | 2-й Верхний Михайловский, д.9, стр.2
                        .col__50
                            span.str8
                                b
                                    | Адрес для
                                    br
                                    | корреспонденции
                            .padding__row
                                span.str10
                                    | 117419 г. Москва
                                    br
                                    | 2-й Верхний Михайловский, д.9, стр.2

                    .inline.inline--top.mb-20
                        .col__50
                            span.str8
                                b
                                    | Адрес для
                                    br
                                    | корреспонденции
                            .padding__row
                                span.str10
                                    | 117419 г. Москва
                                    br
                                    | 2-й Верхний Михайловский, д.9, стр.2
                        .col__50
                            span.str8
                                b
                                    | Адрес для
                                    br
                                    | корреспонденции
                            .padding__row
                                span.str10
                                    | 117419 г. Москва
                                    br
                                    | 2-й Верхний Михайловский, д.9, стр.2
                    .padding-horiz
                        span.section__content-title
                            span.bookmark-arrow
                            | Отправить сообщение
                    .padding-horiz.mb-20
                        .contact__form
                            form(action="")
                                .popup__row
                                    label.str10
                                        b Ваше имя:
                                    br
                                    br
                                    input(type="text")
                                .popup__row
                                    label.str10
                                        b Ваше сообщение:
                                    br
                                    br
                                    textarea(type="text")
                                .popup__row
                                    .col__40
                                        input(type="submit", value='Отправить сообщение').popup__submit.border-btn.border-btn--red

        section.map
            script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
            script(src='js/icon_customImage.js', type='text/javascript')
            #map
