dist/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/style.css"/><link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <!--meta(name="viewport", content="width=device-width, initial-scale=1")-->
    <!--if GoogleFonts-->
    <!--  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>-->
  </head>
  <body>
    <header class="header">
      <div class="header__top">
        <div class="row container"><span class="header__top-item col__30">Саморегулируемая организация</span><span class="header__top-item col__50"><a href="mailto:info@apcmed.ru " class="mail">info@apcmed.ru</a><a href="tel:+74957698568" class="tel">+7 (495) 769-85-68</a></span>
          <div class="header__top-item right inline"><a class="lang"><span class="lang__item">рус</span></a><span class="lang__center">&nbsp&nbsp|&nbsp&nbsp</span><a class="lang"><span class="lang__item">en</span></a>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="header__bottom">
        <div class="header__inner container clearfix">
          <div class="header__title"><a href="index.html" class="header__logo"><span class="logo"></span></a>
            <h1 class="header__title-text">Ассоциация Частных Клиник<br/>Москвы и ЦФО</h1>
          </div>
          <div class="header__menu"><a href="/" class="menu__list-logo img-wrap"><img src="images/logo.png"/></a>
            <ol class="menu__list">
              <li class="menu__list-item"><a href="about.html">ОБ АССОЦИАЦИИ</a></li>
              <li class="menu__list-item"><a href="news.html">НОВОСТИ</a></li>
              <li class="menu__list-item"><a href="events.html">СОБЫТИЯ И ОБУЧЕНИЕ</a></li>
              <li class="menu__list-item"><a>АНАЛИТИКА</a></li>
              <li class="menu__list-item"><a>ПРЕСС-ЦЕНТР</a></li>
              <li class="menu__list-item"><a href="contacts.html">КОНТАКТЫ</a></li>
            </ol>
          </div>
          <div class="header__icons clearfix">
            <form id="headSearchForm" class="toggleform search__form search__form--top">
              <input type="text" name="search" placeholder="Введите поисковый запрос..." class="search__form-input"/>
            </form><a id="hSearch" class="fa__icons-link"><i class="fa fa-search" aria-hidden="true"></i></a>
            <form id="headMailForm" class="toggleform mail__form mail__form--top">
              <input type="email" name="email" placeholder="Ваш e-mail..." class="mail__form-input"/>
              <input type="submit" value="Отправить" class="mail__form-input mail__form-input--submit"/>
            </form><a id="hMail" class="fa__icons-link"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            <div id="headShare" class="share-box share-box--header"><a class="share-box__link"><i class="fa fa-vk"></i></a><a class="share-box__link"><i class="fa fa-facebook"></i></a><a class="share-box__link"><i class="fa fa-twitter"></i></a></div><a id="hShare" class="fa__icons-link"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </header>
    <div id="particles"></div>
    <main>
      <section class="bg-white">
        <div class="container padding-horiz inline clearfix">
          <div class="col__18 right clearfix">
            <div class="associate tac">
              <div class="associate__number"><span class="str-7">7</span><span class="str-6">6</span><span class="str-5">Клиник состоит в ассоциации</span></div>
            </div>
          </div>
          <div class="col__60">
            <h1 class="str11"><b>Ассоциация Частных Клиник Москвы –</b>&nbspэто, прежде всего, сообщество заинтересованных профессионалов, функции информирования и партнерства.</h1>
          </div>
          <div class="padding__row inline"><a class="border-btn border-btn--red jsJoin"><b>Вступить в ассоциацию</b><i class="fa fa-long-arrow-right"></i></a>
            <div class="telephone"><span class="helper">Все вопросы по телефону</span><span class="str1">+7 (495) 769-85-68</span></div>
          </div>
        </div>
      </section>
      <section class="slider-wrapper padding__row">
        <div class="container padding-horiz rel"><span class="str10 white"><b>Основана в 2001 году &nbsp &nbsp</b></span><span class="str10 red"><b>Объединяет 76 организаций</b></span>
          <div class="main-slider__wrapper"></div>
          <ul class="main-slider">
            <li class="main-slider__item">
              <div class="col__45"><span class="str52">Объединяем частные клиники Москвы</span><br><span class="str18">Прежде всего, сообщество заинтересованных профессионалов. Именно этот тезис лежит в основе всей нашей работы по созданию сообщества. И несомненно функции информировани</span><br><a class="more padding__row"><span class="more__btn"><i class="fa fa-long-arrow-right"></i></span><span class="str3 more__text white">Подробнее об ассоциации</span></a></div>
            </li>
            <li class="main-slider__item">
              <div class="col__45"><span class="str52">Объединяем частные клиники Москвы</span><br><span class="str18">Прежде всего, сообщество заинтересованных профессионалов. Именно этот тезис лежит в основе всей нашей работы по созданию сообщества. И несомненно функции информировани</span><br><a class="more padding__row"><span class="more__btn"><i class="fa fa-long-arrow-right"></i></span><span class="str3 more__text white">Подробнее об ассоциации</span></a></div>
            </li>
            <li class="main-slider__item">
              <div class="col__45"><span class="str52">Объединяем частные клиники Москвы</span><br><span class="str18">Прежде всего, сообщество заинтересованных профессионалов. Именно этот тезис лежит в основе всей нашей работы по созданию сообщества. И несомненно функции информировани</span><br><a class="more padding__row"><span class="more__btn"><i class="fa fa-long-arrow-right"></i></span><span class="str3 more__text white">Подробнее об ассоциации</span></a></div>
            </li>
          </ul>
        </div>
      </section>
      <section class="section__content-rel">
        <div class="container bg-white">
          <div class="section__content-up padding-container clearfix">
            <div class="col__45 left">
              <div class="news__title mb-20"><span class="str2">Главное событие<br>в сентябре</span></div><a class="more mb-20"><span class="more__btn"><i class="fa fa-long-arrow-right"></i></span><span class="str3 more__text">Все события</span></a>
              <div class="img-wrap mt-20"><img src="images/img1.jpg"></div>
            </div>
            <div class="col__45 right">
              <div class="news__what str8">10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC)</div>
              <div class="news__when str9">01.09.2016-3.09.2016, Бали, Индонезия</div>
              <div class="news__text str10">10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией ортодонтов (IAO) совместно с Азиатско-Тихоокеанским обществом ортодонтов (APOS). В конференции примут участие члены ассоциаций, резиденты, а также ортодонты из таких стран, как Сингапур, Малайзия, Таиланд, Австралия, Индия,Тайвань, Япония, Южная Корея и пр.</div><a class="news__more right padding__row"><span class="helper">Подробнее &nbsp&nbsp<i class="fa fa-long-arrow-right"></i></span></a>
            </div>
          </div>
          <div class="padding-horiz">
            <div class="border-hr"></div>
          </div>
          <div class="padding-container">
            <div class="more mb-20">
              <!--span.more__btn.mr-20-->
              <!--    i.fa.fa-long-arrow-right-->
              <h2 class="section__content-title"><b>Деятельность ассоциации</b></h2>
            </div>
            <div class="padding__row">
              <p class="str11"><span class="str12">Ассоциация Частных Клиник Москвы –&nbsp</span>это, прежде всего, сообщество заинтересованных профессионалов. Именно этот тезис лежит в основе всей нашей работы по созданию сообщества. И несомненно функции информирования и самоорганизации.</p><a class="news__more padding__row"><span class="helper">Подробнее &nbsp&nbsp<i class="fa fa-long-arrow-right"></i></span></a>
              <ul class="news-list padding__row inline">
                <li class="news-list__item col__31">
                  <div class="news-list__img news-list__img--one inline"><a class="border-btn border-btn--red white"><b>События</b></a></div>
                  <div class="str10 padding__row">10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией ортодонтов (IAO) совместно ...</div><br><a class="str13">Все события&nbsp&nbsp&nbsp<i class="fa fa-long-arrow-right"></i></a>
                </li>
                <li class="news-list__item col__31">
                  <div class="news-list__img news-list__img--one inline"><a class="border-btn border-btn--red white"><b>События</b></a></div>
                  <div class="str10 padding__row">10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией ортодонтов (IAO) совместно ...</div><br><a class="str13">Все события&nbsp&nbsp&nbsp<i class="fa fa-long-arrow-right"></i></a>
                </li>
                <li class="news-list__item col__31">
                  <div class="news-list__img news-list__img--one inline"><a class="border-btn border-btn--red white"><b>События</b></a></div>
                  <div class="str10 padding__row">10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией ортодонтов (IAO) совместно ...</div><br><a class="str13">
                    Все события
                    &nbsp&nbsp&nbsp<i class="fa fa-long-arrow-right"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="calendar">
        <div class="container padding-horiz">
          <div id="calendar"></div>
        </div>
      </section>
      <section class="bg-white">
        <div class="container padding__row">
          <h2 class="section__content-title mb-20"><b>Деятельность ассоциации</b></h2><br><a class="more mb-20"><span class="more__btn"><i class="fa fa-long-arrow-right"></i></span><span class="str3 more__text">Все события</span></a><a class="right"><span class="helper">Подисаться на новости&nbsp&nbsp&nbsp</span><i class="fa fa-envelope-o red"></i></a>
        </div>
        <div class="padding-horiz">
          <ul class="news-slider inline">
            <li class="news-slider__item padding-container"><span class="helper">16.09.2016</span><span class="padding__row str10">Депздрав Москвы разрабатывает городскую программу популяризации грудного вскармливания</span><a class="helper right padding__row">Подробнее</a></li>
            <li class="news-slider__item padding-container"><span class="helper">16.09.2016</span><span class="padding__row str10">Депздрав Москвы разрабатывает городскую программу популяризации грудного вскармливания городскую программу</span><a class="helper right padding__row">Подробнее</a></li>
            <li class="news-slider__item padding-container"><span class="helper">16.09.2016</span><span class="padding__row str10">Депздрав Москвы разрабатывает городскую программу популяризации грудного вскармливания</span><a class="helper right padding__row">Подробнее</a></li>
            <li class="news-slider__item padding-container"><span class="helper">16.09.2016</span><span class="padding__row str10">Депздрав Москвы разрабатывает</span><a class="helper right padding__row">Подробнее</a></li>
            <li class="news-slider__item padding-container"><span class="helper">16.09.2016</span><span class="padding__row str10">Депздрав Москвы разрабатывает городскую программу популяризации грудного вскармливания</span><a class="helper right padding__row">Подробнее</a></li>
            <li class="news-slider__item padding-container"><span class="helper">16.09.2016</span><span class="padding__row str10">Депздрав Москвы разрабатывает городскую программу популяризации грудного вскармливания</span><a class="helper right padding__row">Подробнее</a></li>
          </ul>
        </div>
        <div class="container padding-horiz inline">
          <div class="col__50 partners"><span class="str14"><i class="fa fa-bookmark red"></i>Генеральный инфопартнер</span>
            <div class="str10 padding-horiz col__70">10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией</div><span class="ami"></span>
          </div>
          <div class="col__50 partners"><span class="str14"><i class="fa fa-bookmark red"></i>Информационные партнеры</span>
            <ul class="partners-list inline">
              <li class="col__25 partners-list__item"><span class="partner1"></span></li>
              <li class="col__25 partners-list__item"><span class="partner2"></span></li>
              <li class="col__25 partners-list__item"><span class="partner3"></span></li>
              <li class="col__25 partners-list__item"><span class="partner4"></span></li>
              <li class="col__25 partners-list__item"><span class="partner5"></span></li>
              <li class="col__25 partners-list__item"><span class="partner6"></span></li>
              <li class="col__25 partners-list__item"><span class="partner7"></span></li>
              <li class="col__25 partners-list__item"><span class="partner8"></span></li>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <div class="border-hr"></div>
    <div class="bg-white padding-horiz">
      <div class="container padding-horiz"><span class="str12">Ассоциация Частных Клиник Москвы благодарит за оказываеюмую помощь и приглашает к сотрудничеству всех заинтересованных лиц и оранизации.</span></div>
    </div>
    <footer class="footer">
      <div class="footer__menu">
        <div class="container padding-horiz">
          <ol class="menu__list">
            <li class="menu__list-item"><a href="about.html" class="menu__list-link">ОБ АССОЦИАЦИИ</a>
              <div class="menu__list-submenu"><a href="about.html" class="menu__list-submenu-link">ОБ АССОЦИАЦИИ</a><a href="join.html" class="menu__list-submenu-link">КАК ВСТУПИТЬ</a><a href="clinics.html" class="menu__list-submenu-link">НАШИ КЛИНИКИ</a><a href="people.html" class="menu__list-submenu-link">ЛИЦА АССОЦИАЦИИ</a><a href="partners.html" class="menu__list-submenu-link">ИНФОРМАЦИОННЫЕ ПАРТНЕРЫ</a><a href="code.html" class="menu__list-submenu-link">ЭТИЧЕСКИЙ КОДЕКС</a><a href="specification.html" class="menu__list-submenu-link">ПОЛОЖЕНИЯ, СТАНДАРТЫ, ПРАВИЛА</a><a href="registry.html" class="menu__list-submenu-link">РЕЕСТР АССОЦИАЦИИ</a></div>
            </li>
            <li class="menu__list-item"><a href="news.html" class="menu__list-link">НОВОСТИ</a>
              <div class="menu__list-submenu"><a class="menu__list-submenu-link">ВСЕ НОВОСТИ</a><a class="menu__list-submenu-link">НОВОСТИ АССОЦИАЦИИ</a><a class="menu__list-submenu-link">НОВОСТИ ЗДРАВООХРАНЕНИЯ</a></div>
            </li>
            <li class="menu__list-item"><a href="events.html" class="menu__list-link">СОБЫТИЯ И ОБУЧЕНИЕ</a>
              <div class="menu__list-submenu"><a class="menu__list-submenu-link">ВСЕ МЕРОПРИЯТИЯ</a><a class="menu__list-submenu-link">СОБЫТИЯ</a><a class="menu__list-submenu-link">ОБУЧЕНИЕ</a></div>
            </li>
            <li class="menu__list-item"><a>АНАЛИТИКА</a></li>
            <li class="menu__list-item"><a>ПРЕСС-ЦЕНТР</a></li>
            <li class="menu__list-item"><a href="contacts.html">КОНТАКТЫ</a></li>
          </ol>
        </div>
      </div>
      <div class="footer__top">
        <div class="container inline">
          <div class="footer__leftside"><a class="border-btn jsJoin"><i class="fa fa-long-arrow-right"></i>Вступить в ассоциацию</a><a href="tel:+74957698568" class="tel">+7 (495) 769-85-68</a></div>
          <div class="footer__icons">
            <form id="footSearchForm" class="toggleform search__form">
              <input type="text" name="search" placeholder="Введите поисковый запрос..." class="search__form-input"/>
            </form><a id="fSearch" class="fa__icons-link"><i class="fa fa-search" aria-hidden="true"></i></a>
            <form id="footMailForm" class="toggleform mail__form">
              <input type="email" name="email" placeholder="Ваш e-mail..." class="mail__form-input"/>
              <input type="submit" value="Отправить" class="mail__form-input mail__form-input--submit"/>
            </form><a id="fMail" class="fa__icons-link"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            <div id="footShare" class="share-box share-box--footer"><a class="share-box__link"><i class="fa fa-vk"></i></a><a class="share-box__link"><i class="fa fa-facebook"></i></a><a class="share-box__link"><i class="fa fa-twitter"></i></a></div><a id="fShare" class="fa__icons-link"><i class="fa fa-share-alt" aria-hidden="true"></i></a><a id="fMenu" class="fa__icons-link fa__icons-link--bars"><i id="menuBtn" class="fa fa-bars"></i></a>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container inline"><a class="footer__logo"></a><span class="footer__copy">© Ассоциация Частных Клиник Москвы, 2016</span>
          <div class="footer__social"><a class="footer__social-link"><i class="fa fa-vk"></i></a><a class="footer__social-link"><i class="fa fa-facebook"></i></a><a class="footer__social-link"><i class="fa fa-twitter"></i></a></div>
        </div>
      </div>
    </footer>
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/jquery.particleground.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/fullcalendar.min.js"></script>
    <script src="js/ru.js"></script>
    <script src="js/bxslider.min.js"></script>
    <script src="js/main.js"></script>
    <div class="popup">
      <div class="popup__container padding-container jsJoinPopup">
        <div class="popup__close-wrapper">
          <div class="popup__close right">
            <div class="x shift large"><b></b><b></b><b></b><b></b></div>
          </div>
        </div>
        <div class="popup__inner">
          <div class="popup__title padding-horiz tac"><span class="section__content-title red">Заявка<br/>на вступление в Ассоциацию</span></div><span class="str14">* Отмечены поля обязательные к заполнению</span>
          <div class="popup__form">
            <form action="">
              <div class="popup__row">
                <label class="str10">* Полное юридическое название компании:</label><br/>
                <input type="text" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">* Торговое название компании:</label><br/>
                <input type="text" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">Адрес корпоративного сайта:</label><br/>
                <input type="text"/>
              </div>
              <div class="popup__row">
                <label class="str10">* ФИО контактного лица:</label><br/>
                <input type="text" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">* Телефон контактного лица:</label><br/>
                <input type="tel" pattern="+7-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">Контактный e-mail:</label><br/>
                <input type="email"/>
              </div>
              <div class="popup__row clearfix">
                <div class="right">
                  <input type="submit" value="Отправить" class="popup__submit border-btn border-btn--red"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

jade/index.jade
extends layout
include mixins.jade
//- var bxslider = true
//- var fullcalendar = true

block content
    main
        section.bg-white
            .container.padding-horiz.inline.clearfix
                .col__18.right.clearfix
                    .associate.tac
                        .associate__number
                            span.str-7 7
                            span.str-6 6
                            span.str-5 Клиник состоит в ассоциации
                .col__60
                    h1.str11
                        b Ассоциация Частных Клиник Москвы –
                        | &nbspэто, прежде всего, сообщество заинтересованных профессионалов, функции информирования и партнерства.
                .padding__row.inline
                    a.border-btn.border-btn--red.jsJoin
                        b Вступить в ассоциацию
                        i.fa.fa-long-arrow-right
                    div.telephone
                        span.helper Все вопросы по телефону
                        span.str1 +7 (495) 769-85-68

        section.slider-wrapper.padding__row
            .container.padding-horiz.rel
                span.str10.white
                    b Основана в 2001 году &nbsp &nbsp
                span.str10.red
                    b Объединяет 76 организаций
                .main-slider__wrapper
                ul.main-slider
                    li.main-slider__item
                        .col__45
                            span.str52
                                | Объединяем частные клиники Москвы
                            br
                            span.str18
                                | Прежде всего, сообщество заинтересованных профессионалов. Именно этот тезис лежит в основе всей нашей работы по созданию сообщества. И несомненно функции информировани
                            br
                            a.more.padding__row
                                span.more__btn
                                    i.fa.fa-long-arrow-right
                                span.str3.more__text.white Подробнее об ассоциации
                    li.main-slider__item
                        .col__45
                            span.str52
                                | Объединяем частные клиники Москвы
                            br
                            span.str18
                                | Прежде всего, сообщество заинтересованных профессионалов. Именно этот тезис лежит в основе всей нашей работы по созданию сообщества. И несомненно функции информировани
                            br
                            a.more.padding__row
                                span.more__btn
                                    i.fa.fa-long-arrow-right
                                span.str3.more__text.white Подробнее об ассоциации
                    li.main-slider__item
                        .col__45
                            span.str52
                                | Объединяем частные клиники Москвы
                            br
                            span.str18
                                | Прежде всего, сообщество заинтересованных профессионалов. Именно этот тезис лежит в основе всей нашей работы по созданию сообщества. И несомненно функции информировани
                            br
                            a.more.padding__row
                                span.more__btn
                                    i.fa.fa-long-arrow-right
                                span.str3.more__text.white Подробнее об ассоциации
        section.section__content-rel
            .container.bg-white
                .section__content-up.padding-container.clearfix
                    .col__45.left
                        .news__title.mb-20
                            span.str2
                                | Главное событие
                                br
                                | в сентябре
                        a.more.mb-20
                            span.more__btn
                                i.fa.fa-long-arrow-right
                            span.str3.more__text Все события
                        .img-wrap.mt-20
                            img(src="images/img1.jpg")

                    .col__45.right
                        .news__what.str8 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC)
                        .news__when.str9 01.09.2016-3.09.2016, Бали, Индонезия
                        .news__text.str10 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией ортодонтов (IAO) совместно с Азиатско-Тихоокеанским обществом ортодонтов (APOS). В конференции примут участие члены ассоциаций, резиденты, а также ортодонты из таких стран, как Сингапур, Малайзия, Таиланд, Австралия, Индия,Тайвань, Япония, Южная Корея и пр.
                        a.news__more.right.padding__row
                            span.helper Подробнее &nbsp&nbsp
                                i.fa.fa-long-arrow-right
                .padding-horiz
                    .border-hr
                .padding-container
                    .more.mb-20
                        //span.more__btn.mr-20
                        //    i.fa.fa-long-arrow-right
                        h2.section__content-title
                            b Деятельность ассоциации
                    .padding__row
                        p.str11
                            span.str12 Ассоциация Частных Клиник Москвы –&nbsp
                            | это, прежде всего, сообщество заинтересованных профессионалов. Именно этот тезис лежит в основе всей нашей работы по созданию сообщества. И несомненно функции информирования и самоорганизации.
                        a.news__more.padding__row
                            span.helper Подробнее &nbsp&nbsp
                                i.fa.fa-long-arrow-right
                        ul.news-list.padding__row.inline
                            li.news-list__item.col__31
                                .news-list__img.news-list__img--one.inline
                                    a.border-btn.border-btn--red.white
                                        b События
                                .str10.padding__row 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией ортодонтов (IAO) совместно ...
                                br
                                a.str13 Все события&nbsp&nbsp&nbsp
                                    i.fa.fa-long-arrow-right
                            li.news-list__item.col__31
                                .news-list__img.news-list__img--one.inline
                                    a.border-btn.border-btn--red.white
                                        b События
                                .str10.padding__row 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией ортодонтов (IAO) совместно ...
                                br
                                a.str13 Все события&nbsp&nbsp&nbsp
                                    i.fa.fa-long-arrow-right
                            li.news-list__item.col__31
                                .news-list__img.news-list__img--one.inline
                                    a.border-btn.border-btn--red.white
                                        b События
                                .str10.padding__row 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией ортодонтов (IAO) совместно ...
                                br
                                a.str13 Все события
                                    |&nbsp&nbsp&nbsp
                                    i.fa.fa-long-arrow-right

        section.calendar
            .container.padding-horiz
                #calendar
        section.bg-white
            .container.padding__row
                h2.section__content-title.mb-20
                    b Деятельность ассоциации
                br
                a.more.mb-20
                    span.more__btn
                        i.fa.fa-long-arrow-right
                    span.str3.more__text Все события
                a.right
                    span.helper Подисаться на новости&nbsp&nbsp&nbsp
                    i.fa.fa-envelope-o.red
            .padding-horiz
                ul.news-slider.inline
                    li.news-slider__item.padding-container
                        span.helper 16.09.2016
                        span.padding__row.str10
                            | Депздрав Москвы разрабатывает городскую программу популяризации грудного вскармливания
                        a.helper.right.padding__row
                            | Подробнее
                    li.news-slider__item.padding-container
                        span.helper 16.09.2016
                        span.padding__row.str10
                            | Депздрав Москвы разрабатывает городскую программу популяризации грудного вскармливания городскую программу
                        a.helper.right.padding__row
                            | Подробнее
                    li.news-slider__item.padding-container
                        span.helper 16.09.2016
                        span.padding__row.str10
                            | Депздрав Москвы разрабатывает городскую программу популяризации грудного вскармливания
                        a.helper.right.padding__row
                            | Подробнее
                    li.news-slider__item.padding-container
                        span.helper 16.09.2016
                        span.padding__row.str10
                            | Депздрав Москвы разрабатывает
                        a.helper.right.padding__row
                            | Подробнее
                    li.news-slider__item.padding-container
                        span.helper 16.09.2016
                        span.padding__row.str10
                            | Депздрав Москвы разрабатывает городскую программу популяризации грудного вскармливания
                        a.helper.right.padding__row
                            | Подробнее
                    li.news-slider__item.padding-container
                        span.helper 16.09.2016
                        span.padding__row.str10
                            | Депздрав Москвы разрабатывает городскую программу популяризации грудного вскармливания
                        a.helper.right.padding__row
                            | Подробнее

            .container.padding-horiz.inline
                .col__50.partners
                    span.str14
                        i.fa.fa-bookmark.red
                        | Генеральный инфопартнер
                    .str10.padding-horiz.col__70 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией
                    span.ami
                .col__50.partners
                    span.str14
                        i.fa.fa-bookmark.red
                        | Информационные партнеры
                    ul.partners-list.inline
                        li.col__25.partners-list__item
                            span.partner1
                        li.col__25.partners-list__item
                            span.partner2
                        li.col__25.partners-list__item
                            span.partner3
                        li.col__25.partners-list__item
                            span.partner4
                        li.col__25.partners-list__item
                            span.partner5
                        li.col__25.partners-list__item
                            span.partner6
                        li.col__25.partners-list__item
                            span.partner7
                        li.col__25.partners-list__item
                            span.partner8
