jade/join.jade
extends layout
include mixins.jade

block content
    main
        section.section__content.bg-white
            .container
                +sidebar
                .section__content-main.padding__row
                    h1.section__content-title
                        |Как вступить
                        br
                        |в ассоциацию

                    .padding-horiz
                        p.str11
                            span.str12 Мы ждем новых идейных лидеров
                            | &nbspв свои ряды. Ассоциация открыта и стремится к диалогу с каждым редставителем частной медицины Москвы!

                    blockquote.str10.quote.mb-20
                        i.fa.fa-quote-left &nbsp&nbsp
                        | Членами Ассоциации могут быть частные многопрофильные медицинские клиники и другие медицинские организации - юридические лица, заинтересованные в развитии отрасли.
                        |&nbsp&nbsp
                        i.fa.fa-quote-right
                    .img-wrap.padding__row
                        img(src='images/content-img1.jpg')
                    .padding-horiz.inline
                        span.section__content-h2
                            | Членство в Ассоциации дает:
                        ol.numlist.padding-horiz
                            li.numlist__item
                                span.str10 Правовую поддержку, получение оперативной информации об изменениях в законодательстве, ежедневный мониторинг новостей, законов, положений отрасли здравоохранения.
                            li.numlist__item
                                span.str10 Новые возможности для развития бизнеса, обмен информацией, создание и участие в партнерских программах, новые возможности для привлечения пациентов, координация работы со страховыми компаниями, оперативная информация о предложениях по новым помещениям, рассылка резюме врачей и  медперсонала.
                            li.numlist__item
                                span.str10 Собственную юридическую службу, обмен опытом между членами Ассоциации, юридическую помощь в досудебном урегулировании.
                            a.more.mb-20
                                span.more__btn
                                    i.fa.fa-long-arrow-right
                                span.str3.more__text.red
                                    b Все преимущества


        section
            .container.padding-horiz
                .preview
                    .preview__inner
                        span.section__content-title
                            |Возможности
                            br
                            |ассоциации

                .padding-horiz.inline.bg-white
                    .col__50.padding__row.bookmark.bookmark--arrow
                        span.bookmark-arrow
                        span.section__content-h2

                            | Участие в работе над
                            br
                            | стандартами
                        .padding-horiz
                            span.str16 активное участие в работе над стандартами и порядками оказания медицинской помощи, медико-экономическом обосновании тарифов на медицинские услуги в рамках базовой и территориальной программы ОМС

                    .col__50.padding__row.bookmark.bookmark--arrow
                        span.bookmark-arrow
                        span.section__content-h2
                            | Защита интересов
                            br
                            | медицинского бизнеса
                        .padding-horiz
                            span.str16 защита интересов медицинского бизнеса при разработке и обсуждении законопроектов и подзаконных актов, участие и работа представителей ассоциации во всех профильных комитетах, комиссиях, рабочих группах, экспертных советах по охране здоровья граждан в органах законодательной, исполнительной власти и общественных объединениях;

                    .col__50.padding__row.bookmark.bookmark--arrow
                        span.bookmark-arrow
                        span.section__content-h2
                            | Участие в работе над
                            br
                            | стандартами
                        .padding-horiz
                            span.str16 активное участие в работе над стандартами и порядками оказания медицинской помощи, медико-экономическом обосновании тарифов на медицинские услуги в рамках базовой и территориальной программы ОМС
                    .col__50.padding__row.bookmark.bookmark--arrow
                        span.bookmark-arrow
                        span.section__content-h2
                            | Участие в работе над
                            br
                            | стандартами
                        .padding-horiz
                            span.str16 активное участие в работе над стандартами и порядками оказания медицинской помощи, медико-экономическом обосновании тарифов на медицинские услуги в рамках базовой и территориальной программы ОМС
        section
            .tac.container
                span.section__content-title.red
                    | Представители ассоциации входят в
                    br
                    | состав следующих организаций:
            .container.padding-horiz.bg-white
                table.section__content-table
                    tr
                        td
                            span.str10 Экспертный совет по развитию конкуренции в сфере обращения медицинских изделий  ФАС России
                        td
                            span.str10 Рабочая группа Комитета по охране здоровья Государственной Думы ФС РФ
                        td
                            span.str10 Рабочая группа при Департаменте оценки регулирующего воздействия Минэкономразвитии
                    tr
                        td
                            span.str10 Экспертный совет по развитию предпринимательства Минздравсоцразвития
                        td
                            span.str10 Общественный совет Росздравнадзора
                        td
                            span.str10 Рабочая группа   НИУ «Высшая школа экономики»
                    tr
                        td
                            span.str10 Общественный совет «Центра развития ГЧП»
                        td
                            span.str10 Экспертный совет ФАС по развитию конкуренции в здравоохранении
                        td
                            span.str10 Общественный совет по предпринимательству при Префектуре Центрального административного округа Москвы
            .border-hr
            .container.padding-horiz.bg-white
                span.section__content-title
                    span.bookmark-arrow
                    | Порядок вступления
                .icons.right.clearfix.mt-20
                    a.icons__link
                        i.fa.fa-envelope-o
                    a.icons__link
                        i.fa.fa-share-alt
                .padding-horiz
                    p.str11
                        span.str12 Чтобы стать членом Ассоциации частных клиник Москвы
                        | &nbspзаполните форму по сылке «Вступить в ассоциацию либо направьте информацию о Вашей компании электронным письмом по адресу angelina@apcmed.ru или marina@apcmed.ru.
                a.border-btn.border-btn--content.mb-20.jsJoin
                    i.fa.fa-long-arrow-right.red
                    b.red Вступить в ассоциацию
            .container
                .border-hr
            .container.padding-horiz.bg-white
                span.section__content-title.padding__row
                    span.bookmark-arrow
                    | Взносы и документы
                .inline.section__content-row.padding-horiz
                    .col__27
                        span.section__content-h2.padding__row
                            | Вступительный взнос
                            | в Ассоциацию
                        span.section__content-title.padding-horiz.red 20 000 руб.
                        span.str10 Вступительный взнос, согласно Положению о порядке уплаты взносов, для члена Ассоциации уставлен в размере 20 тысяч рублей.
                    .col__27
                        span.section__content-h2.padding__row
                            | Вступительный взнос
                            | в реестр
                        span.section__content-title.padding-horiz.red 3 000 руб.
                        span.str10 Отдельно оплачивается членство в Реестре Саморегулируемой организации Ассоциации каждого юридического лица вступающей организации - размер вступительного взноса составляет 3 тысячи рублей.
                    .col__27
                        span.section__content-h2.padding__row
                            | Ежеквартальный членский взнос
                        span.section__content-title.padding-horiz.red 15 000 руб.
                        span.str10 Ежеквартальный членский взнос установлен в размере 15 тысяч рублей.

                .border-hr.mt-20

         section.bg-white
            .container.padding-horiz
                .str8
                    b Презентация и документы
                .str10.padding__row Более полно ознакомиться с возможностями, которые дает членство в нашей Ассоциации, вы можете, скачав презентационный материал  Ассоциации частных клиник Москвы и ЦФО «Частное здравоохранение России», а также  подборку Вестников Ассоциации - регулярного печатного издания Ассоциации, где рассказывается о нашей деятельности, собраны наиболее интересные отраслевые новости и публикуются анонсы ближайших мероприятий.
                a.download.padding__row
                    i.fa.fa-file-o.download__icon.white
                    span.str3.more__text.red
                        b Скачать презентацию

dist/join.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/style.css"/><link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <!--meta(name="viewport", content="width=device-width, initial-scale=1")-->
    <!--if GoogleFonts-->
    <!--  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>-->
  </head>
  <body>
    <header class="header">
      <div class="header__top">
        <div class="row container"><span class="header__top-item col__30">Саморегулируемая организация</span><span class="header__top-item col__50"><a href="mailto:info@apcmed.ru " class="mail">info@apcmed.ru</a><a href="tel:+74957698568" class="tel">+7 (495) 769-85-68</a></span>
          <div class="header__top-item right inline"><a class="lang"><span class="lang__item">рус</span></a><span class="lang__center">&nbsp&nbsp|&nbsp&nbsp</span><a class="lang"><span class="lang__item">en</span></a>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="header__bottom">
        <div class="header__inner container clearfix">
          <div class="header__title"><a href="index.html" class="header__logo"><span class="logo"></span></a>
            <h1 class="header__title-text">Ассоциация Частных Клиник<br/>Москвы и ЦФО</h1>
          </div>
          <div class="header__menu"><a href="/" class="menu__list-logo img-wrap"><img src="images/logo.png"/></a>
            <ol class="menu__list">
              <li class="menu__list-item"><a href="about.html">ОБ АССОЦИАЦИИ</a></li>
              <li class="menu__list-item"><a href="news.html">НОВОСТИ</a></li>
              <li class="menu__list-item"><a href="events.html">СОБЫТИЯ И ОБУЧЕНИЕ</a></li>
              <li class="menu__list-item"><a>АНАЛИТИКА</a></li>
              <li class="menu__list-item"><a>ПРЕСС-ЦЕНТР</a></li>
              <li class="menu__list-item"><a href="contacts.html">КОНТАКТЫ</a></li>
            </ol>
          </div>
          <div class="header__icons clearfix">
            <form id="headSearchForm" class="toggleform search__form search__form--top">
              <input type="text" name="search" placeholder="Введите поисковый запрос..." class="search__form-input"/>
            </form><a id="hSearch" class="fa__icons-link"><i class="fa fa-search" aria-hidden="true"></i></a>
            <form id="headMailForm" class="toggleform mail__form mail__form--top">
              <input type="email" name="email" placeholder="Ваш e-mail..." class="mail__form-input"/>
              <input type="submit" value="Отправить" class="mail__form-input mail__form-input--submit"/>
            </form><a id="hMail" class="fa__icons-link"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            <div id="headShare" class="share-box share-box--header"><a class="share-box__link"><i class="fa fa-vk"></i></a><a class="share-box__link"><i class="fa fa-facebook"></i></a><a class="share-box__link"><i class="fa fa-twitter"></i></a></div><a id="hShare" class="fa__icons-link"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </header>
    <div id="particles"></div>
    <main>
      <section class="section__content bg-white">
        <div class="container">
          <aside class="sidebar">
            <div class="sidebar__header"><span class="sidebar__header-inner">01.</span></div>
            <ul class="sidebar__menu">
              <li class="sidebar__menu-item"><a href="about.html" class="sidebar__menu-link">ОБ АССОЦИАЦИИ</a><i class="fa fa-long-arrow-right"></i></li>
              <li class="sidebar__menu-item"><a href="join.html" class="sidebar__menu-link">КАК ВСТУПИТЬ</a><i class="fa fa-long-arrow-right"></i></li>
              <li class="sidebar__menu-item"><a href="clinics.html" class="sidebar__menu-link">НАШИ КЛИНИКИ</a><i class="fa fa-long-arrow-right"></i></li>
              <li class="sidebar__menu-item"><a href="people.html" class="sidebar__menu-link">ЛИЦА АССОЦИАЦИИ</a><i class="fa fa-long-arrow-right"></i></li>
              <li class="sidebar__menu-item"><a href="partners.html" class="sidebar__menu-link">ИНФОРМАЦИОННЫЕ ПАРТНЕРЫ</a><i class="fa fa-long-arrow-right"></i></li>
              <li class="sidebar__menu-item"><a href="code.html" class="sidebar__menu-link">ЭТИЧЕСКИЙ КОДЕКС</a><i class="fa fa-long-arrow-right"></i></li>
              <li class="sidebar__menu-item"><a href="specification.html" class="sidebar__menu-link">ПОЛОЖЕНИЯ, СТАНДАРТЫ, ПРАВИЛА</a><i class="fa fa-long-arrow-right"></i></li>
              <li class="sidebar__menu-item"><a href="registry.html" class="sidebar__menu-link">РЕЕСТР АССОЦИАЦИИ</a><i class="fa fa-long-arrow-right"></i></li>
            </ul>
          </aside>
          <div class="section__content-main padding__row">
            <h1 class="section__content-title">Как вступить<br>в ассоциацию</h1>
            <div class="padding-horiz">
              <p class="str11"><span class="str12">Мы ждем новых идейных лидеров</span>&nbspв свои ряды. Ассоциация открыта и стремится к диалогу с каждым редставителем частной медицины Москвы!</p>
            </div>
            <blockquote class="str10 quote mb-20"><i class="fa fa-quote-left">&nbsp&nbsp</i>Членами Ассоциации могут быть частные многопрофильные медицинские клиники и другие медицинские организации - юридические лица, заинтересованные в развитии отрасли.
              &nbsp&nbsp<i class="fa fa-quote-right"></i>
            </blockquote>
            <div class="img-wrap padding__row"><img src="images/content-img1.jpg"></div>
            <div class="padding-horiz inline"><span class="section__content-h2">Членство в Ассоциации дает:</span>
              <ol class="numlist padding-horiz">
                <li class="numlist__item"><span class="str10">Правовую поддержку, получение оперативной информации об изменениях в законодательстве, ежедневный мониторинг новостей, законов, положений отрасли здравоохранения.</span></li>
                <li class="numlist__item"><span class="str10">Новые возможности для развития бизнеса, обмен информацией, создание и участие в партнерских программах, новые возможности для привлечения пациентов, координация работы со страховыми компаниями, оперативная информация о предложениях по новым помещениям, рассылка резюме врачей и  медперсонала.</span></li>
                <li class="numlist__item"><span class="str10">Собственную юридическую службу, обмен опытом между членами Ассоциации, юридическую помощь в досудебном урегулировании.</span></li><a class="more mb-20"><span class="more__btn"><i class="fa fa-long-arrow-right"></i></span><span class="str3 more__text red"><b>Все преимущества</b></span></a>
              </ol>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container padding-horiz">
          <div class="preview">
            <div class="preview__inner"><span class="section__content-title">Возможности<br>ассоциации</span></div>
          </div>
          <div class="padding-horiz inline bg-white">
            <div class="col__50 padding__row bookmark bookmark--arrow"><span class="bookmark-arrow"></span><span class="section__content-h2">Участие в работе над<br>стандартами</span>
              <div class="padding-horiz"><span class="str16">активное участие в работе над стандартами и порядками оказания медицинской помощи, медико-экономическом обосновании тарифов на медицинские услуги в рамках базовой и территориальной программы ОМС</span></div>
            </div>
            <div class="col__50 padding__row bookmark bookmark--arrow"><span class="bookmark-arrow"></span><span class="section__content-h2">Защита интересов<br>медицинского бизнеса</span>
              <div class="padding-horiz"><span class="str16">защита интересов медицинского бизнеса при разработке и обсуждении законопроектов и подзаконных актов, участие и работа представителей ассоциации во всех профильных комитетах, комиссиях, рабочих группах, экспертных советах по охране здоровья граждан в органах законодательной, исполнительной власти и общественных объединениях;</span></div>
            </div>
            <div class="col__50 padding__row bookmark bookmark--arrow"><span class="bookmark-arrow"></span><span class="section__content-h2">Участие в работе над<br>стандартами</span>
              <div class="padding-horiz"><span class="str16">активное участие в работе над стандартами и порядками оказания медицинской помощи, медико-экономическом обосновании тарифов на медицинские услуги в рамках базовой и территориальной программы ОМС</span></div>
            </div>
            <div class="col__50 padding__row bookmark bookmark--arrow"><span class="bookmark-arrow"></span><span class="section__content-h2">Участие в работе над<br>стандартами</span>
              <div class="padding-horiz"><span class="str16">активное участие в работе над стандартами и порядками оказания медицинской помощи, медико-экономическом обосновании тарифов на медицинские услуги в рамках базовой и территориальной программы ОМС</span></div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="tac container"><span class="section__content-title red">Представители ассоциации входят в<br>состав следующих организаций:</span></div>
        <div class="container padding-horiz bg-white">
          <table class="section__content-table">
            <tr>
              <td><span class="str10">Экспертный совет по развитию конкуренции в сфере обращения медицинских изделий  ФАС России</span></td>
              <td><span class="str10">Рабочая группа Комитета по охране здоровья Государственной Думы ФС РФ</span></td>
              <td><span class="str10">Рабочая группа при Департаменте оценки регулирующего воздействия Минэкономразвитии</span></td>
            </tr>
            <tr>
              <td><span class="str10">Экспертный совет по развитию предпринимательства Минздравсоцразвития</span></td>
              <td><span class="str10">Общественный совет Росздравнадзора</span></td>
              <td><span class="str10">Рабочая группа   НИУ «Высшая школа экономики»</span></td>
            </tr>
            <tr>
              <td><span class="str10">Общественный совет «Центра развития ГЧП»</span></td>
              <td><span class="str10">Экспертный совет ФАС по развитию конкуренции в здравоохранении</span></td>
              <td><span class="str10">Общественный совет по предпринимательству при Префектуре Центрального административного округа Москвы</span></td>
            </tr>
          </table>
        </div>
        <div class="border-hr"></div>
        <div class="container padding-horiz bg-white"><span class="section__content-title"><span class="bookmark-arrow"></span>Порядок вступления</span>
          <div class="icons right clearfix mt-20"><a class="icons__link"><i class="fa fa-envelope-o"></i></a><a class="icons__link"><i class="fa fa-share-alt"></i></a></div>
          <div class="padding-horiz">
            <p class="str11"><span class="str12">Чтобы стать членом Ассоциации частных клиник Москвы</span>&nbspзаполните форму по сылке «Вступить в ассоциацию либо направьте информацию о Вашей компании электронным письмом по адресу angelina@apcmed.ru или marina@apcmed.ru.</p>
          </div><a class="border-btn border-btn--content mb-20 jsJoin"><i class="fa fa-long-arrow-right red"></i><b class="red">Вступить в ассоциацию</b></a>
        </div>
        <div class="container">
          <div class="border-hr"></div>
        </div>
        <div class="container padding-horiz bg-white"><span class="section__content-title padding__row"><span class="bookmark-arrow"></span>Взносы и документы</span>
          <div class="inline section__content-row padding-horiz">
            <div class="col__27"><span class="section__content-h2 padding__row">
                Вступительный взнос
                в Ассоциацию</span><span class="section__content-title padding-horiz red">20 000 руб.</span><span class="str10">Вступительный взнос, согласно Положению о порядке уплаты взносов, для члена Ассоциации уставлен в размере 20 тысяч рублей.</span></div>
            <div class="col__27"><span class="section__content-h2 padding__row">
                Вступительный взнос
                в реестр</span><span class="section__content-title padding-horiz red">3 000 руб.</span><span class="str10">Отдельно оплачивается членство в Реестре Саморегулируемой организации Ассоциации каждого юридического лица вступающей организации - размер вступительного взноса составляет 3 тысячи рублей.</span></div>
            <div class="col__27"><span class="section__content-h2 padding__row">Ежеквартальный членский взнос</span><span class="section__content-title padding-horiz red">15 000 руб.</span><span class="str10">Ежеквартальный членский взнос установлен в размере 15 тысяч рублей.</span></div>
          </div>
          <div class="border-hr mt-20"></div>
        </div>
      </section>
      <section class="bg-white">
        <div class="container padding-horiz">
          <div class="str8"><b>Презентация и документы</b></div>
          <div class="str10 padding__row">Более полно ознакомиться с возможностями, которые дает членство в нашей Ассоциации, вы можете, скачав презентационный материал  Ассоциации частных клиник Москвы и ЦФО «Частное здравоохранение России», а также  подборку Вестников Ассоциации - регулярного печатного издания Ассоциации, где рассказывается о нашей деятельности, собраны наиболее интересные отраслевые новости и публикуются анонсы ближайших мероприятий.</div><a class="download padding__row"><i class="fa fa-file-o download__icon white"></i><span class="str3 more__text red"><b>Скачать презентацию</b></span></a>
        </div>
      </section>
    </main>
    <div class="border-hr"></div>
    <div class="bg-white padding-horiz">
      <div class="container padding-horiz"><span class="str12">Ассоциация Частных Клиник Москвы благодарит за оказываеюмую помощь и приглашает к сотрудничеству всех заинтересованных лиц и оранизации.</span></div>
    </div>
    <footer class="footer">
      <div class="footer__menu">
        <div class="container padding-horiz">
          <ol class="menu__list">
            <li class="menu__list-item"><a href="about.html" class="menu__list-link">ОБ АССОЦИАЦИИ</a>
              <div class="menu__list-submenu"><a href="about.html" class="menu__list-submenu-link">ОБ АССОЦИАЦИИ</a><a href="join.html" class="menu__list-submenu-link">КАК ВСТУПИТЬ</a><a href="clinics.html" class="menu__list-submenu-link">НАШИ КЛИНИКИ</a><a href="people.html" class="menu__list-submenu-link">ЛИЦА АССОЦИАЦИИ</a><a href="partners.html" class="menu__list-submenu-link">ИНФОРМАЦИОННЫЕ ПАРТНЕРЫ</a><a href="code.html" class="menu__list-submenu-link">ЭТИЧЕСКИЙ КОДЕКС</a><a href="specification.html" class="menu__list-submenu-link">ПОЛОЖЕНИЯ, СТАНДАРТЫ, ПРАВИЛА</a><a href="registry.html" class="menu__list-submenu-link">РЕЕСТР АССОЦИАЦИИ</a></div>
            </li>
            <li class="menu__list-item"><a href="news.html" class="menu__list-link">НОВОСТИ</a>
              <div class="menu__list-submenu"><a class="menu__list-submenu-link">ВСЕ НОВОСТИ</a><a class="menu__list-submenu-link">НОВОСТИ АССОЦИАЦИИ</a><a class="menu__list-submenu-link">НОВОСТИ ЗДРАВООХРАНЕНИЯ</a></div>
            </li>
            <li class="menu__list-item"><a href="events.html" class="menu__list-link">СОБЫТИЯ И ОБУЧЕНИЕ</a>
              <div class="menu__list-submenu"><a class="menu__list-submenu-link">ВСЕ МЕРОПРИЯТИЯ</a><a class="menu__list-submenu-link">СОБЫТИЯ</a><a class="menu__list-submenu-link">ОБУЧЕНИЕ</a></div>
            </li>
            <li class="menu__list-item"><a>АНАЛИТИКА</a></li>
            <li class="menu__list-item"><a>ПРЕСС-ЦЕНТР</a></li>
            <li class="menu__list-item"><a href="contacts.html">КОНТАКТЫ</a></li>
          </ol>
        </div>
      </div>
      <div class="footer__top">
        <div class="container inline">
          <div class="footer__leftside"><a class="border-btn jsJoin"><i class="fa fa-long-arrow-right"></i>Вступить в ассоциацию</a><a href="tel:+74957698568" class="tel">+7 (495) 769-85-68</a></div>
          <div class="footer__icons">
            <form id="footSearchForm" class="toggleform search__form">
              <input type="text" name="search" placeholder="Введите поисковый запрос..." class="search__form-input"/>
            </form><a id="fSearch" class="fa__icons-link"><i class="fa fa-search" aria-hidden="true"></i></a>
            <form id="footMailForm" class="toggleform mail__form">
              <input type="email" name="email" placeholder="Ваш e-mail..." class="mail__form-input"/>
              <input type="submit" value="Отправить" class="mail__form-input mail__form-input--submit"/>
            </form><a id="fMail" class="fa__icons-link"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            <div id="footShare" class="share-box share-box--footer"><a class="share-box__link"><i class="fa fa-vk"></i></a><a class="share-box__link"><i class="fa fa-facebook"></i></a><a class="share-box__link"><i class="fa fa-twitter"></i></a></div><a id="fShare" class="fa__icons-link"><i class="fa fa-share-alt" aria-hidden="true"></i></a><a id="fMenu" class="fa__icons-link fa__icons-link--bars"><i id="menuBtn" class="fa fa-bars"></i></a>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container inline"><a class="footer__logo"></a><span class="footer__copy">© Ассоциация Частных Клиник Москвы, 2016</span>
          <div class="footer__social"><a class="footer__social-link"><i class="fa fa-vk"></i></a><a class="footer__social-link"><i class="fa fa-facebook"></i></a><a class="footer__social-link"><i class="fa fa-twitter"></i></a></div>
        </div>
      </div>
    </footer>
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/jquery.particleground.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/fullcalendar.min.js"></script>
    <script src="js/ru.js"></script>
    <script src="js/bxslider.min.js"></script>
    <script src="js/main.js"></script>
    <div class="popup">
      <div class="popup__container padding-container jsJoinPopup">
        <div class="popup__close-wrapper">
          <div class="popup__close right">
            <div class="x shift large"><b></b><b></b><b></b><b></b></div>
          </div>
        </div>
        <div class="popup__inner">
          <div class="popup__title padding-horiz tac"><span class="section__content-title red">Заявка<br/>на вступление в Ассоциацию</span></div><span class="str14">* Отмечены поля обязательные к заполнению</span>
          <div class="popup__form">
            <form action="">
              <div class="popup__row">
                <label class="str10">* Полное юридическое название компании:</label><br/>
                <input type="text" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">* Торговое название компании:</label><br/>
                <input type="text" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">Адрес корпоративного сайта:</label><br/>
                <input type="text"/>
              </div>
              <div class="popup__row">
                <label class="str10">* ФИО контактного лица:</label><br/>
                <input type="text" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">* Телефон контактного лица:</label><br/>
                <input type="tel" pattern="+7-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">Контактный e-mail:</label><br/>
                <input type="email"/>
              </div>
              <div class="popup__row clearfix">
                <div class="right">
                  <input type="submit" value="Отправить" class="popup__submit border-btn border-btn--red"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
