jade/news.jade
extends layout
include mixins.jade

block content
  main
    section.section__content.bg-white
      .container
        +sidebar2
        .section__content-main.padding__row
          h1.section__content-title
            | Все
            br
            | Новости

          .padding-horiz
            p.str11
              span.str12 Ассоциация Частных Клиник Москвы анонсирует
              | &nbspсобытия отрасли. Содает информационную среду, помогающую развивать и поддерживать связи между членами сообщества.
      .padding-horiz
        .border-hr
      - for (var x = 0; x < 6; x++)
        .container.padding-horiz
          .section__content-news.inline.clearfix
            .col__20
              .img-wrapper
                img(src='images/news/1.jpg')
            .col__73.right
              span.str10 12 октября 2016
              br
              span.str10 Новости здравоохранения
              br
              br
              span.str8.padding__row
               b Комиссия по календарю прививок будет создана при Общественной палате РФ.
              br
              br
              a.more.padding__row(href='item.html')
                span.more__btn
                  i.fa.fa-long-arrow-right
                span.str3.more__text.red
                  b Подробно
        .padding-horiz
          .border-hr
    .pagination-wrapper.padding-horiz
      ul.row.pagination__list.inline.tac
        li.pagination__item.pagination__item_active
          a(href="").pagination__link.str20 01
        li.pagination__item
          a(href="").pagination__link.str20 02
        li.pagination__item
          a(href="").pagination__link.str20 03
        li.pagination__item
          a(href="").pagination__link.str20 ...
        li.pagination__item
          a(href="").pagination__link.str20 21
    .container.padding-horiz.inline
      .col__50.partners
        span.str14
          i.fa.fa-bookmark.red
          | Генеральный инфопартнер
        .str10.padding-horiz.col__70 10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией
        span.ami
      .col__50.partners
        span.str14
          i.fa.fa-bookmark.red
          | Информационные партнеры
        ul.partners-list.inline
          li.col__25.partners-list__item
            span.partner1
          li.col__25.partners-list__item
            span.partner2
          li.col__25.partners-list__item
            span.partner3
          li.col__25.partners-list__item
            span.partner4
          li.col__25.partners-list__item
            span.partner5
          li.col__25.partners-list__item
            span.partner6
          li.col__25.partners-list__item
            span.partner7
          li.col__25.partners-list__item
            span.partner8

dist/news.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/style.css"/><link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <!--meta(name="viewport", content="width=device-width, initial-scale=1")-->
    <!--if GoogleFonts-->
    <!--  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>-->
  </head>
  <body>
    <header class="header">
      <div class="header__top">
        <div class="row container"><span class="header__top-item col__30">Саморегулируемая организация</span><span class="header__top-item col__50"><a href="mailto:info@apcmed.ru " class="mail">info@apcmed.ru</a><a href="tel:+74957698568" class="tel">+7 (495) 769-85-68</a></span>
          <div class="header__top-item right inline"><a class="lang"><span class="lang__item">рус</span></a><span class="lang__center">&nbsp&nbsp|&nbsp&nbsp</span><a class="lang"><span class="lang__item">en</span></a>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="header__bottom">
        <div class="header__inner container clearfix">
          <div class="header__title"><a href="index.html" class="header__logo"><span class="logo"></span></a>
            <h1 class="header__title-text">Ассоциация Частных Клиник<br/>Москвы и ЦФО</h1>
          </div>
          <div class="header__menu"><a href="/" class="menu__list-logo img-wrap"><img src="images/logo.png"/></a>
            <ol class="menu__list">
              <li class="menu__list-item"><a href="about.html">ОБ АССОЦИАЦИИ</a></li>
              <li class="menu__list-item"><a href="news.html">НОВОСТИ</a></li>
              <li class="menu__list-item"><a href="events.html">СОБЫТИЯ И ОБУЧЕНИЕ</a></li>
              <li class="menu__list-item"><a>АНАЛИТИКА</a></li>
              <li class="menu__list-item"><a>ПРЕСС-ЦЕНТР</a></li>
              <li class="menu__list-item"><a href="contacts.html">КОНТАКТЫ</a></li>
            </ol>
          </div>
          <div class="header__icons clearfix">
            <form id="headSearchForm" class="toggleform search__form search__form--top">
              <input type="text" name="search" placeholder="Введите поисковый запрос..." class="search__form-input"/>
            </form><a id="hSearch" class="fa__icons-link"><i class="fa fa-search" aria-hidden="true"></i></a>
            <form id="headMailForm" class="toggleform mail__form mail__form--top">
              <input type="email" name="email" placeholder="Ваш e-mail..." class="mail__form-input"/>
              <input type="submit" value="Отправить" class="mail__form-input mail__form-input--submit"/>
            </form><a id="hMail" class="fa__icons-link"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            <div id="headShare" class="share-box share-box--header"><a class="share-box__link"><i class="fa fa-vk"></i></a><a class="share-box__link"><i class="fa fa-facebook"></i></a><a class="share-box__link"><i class="fa fa-twitter"></i></a></div><a id="hShare" class="fa__icons-link"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </header>
    <div id="particles"></div>
    <main>
      <section class="section__content bg-white">
        <div class="container">
          <aside class="sidebar">
            <div class="sidebar__header"><span class="sidebar__header-inner">02.</span></div>
            <ul class="sidebar__menu">
              <li class="sidebar__menu-item"><a class="sidebar__menu-link">ВСЕ НОВОСТИ</a><i class="fa fa-long-arrow-right"></i></li>
              <li class="sidebar__menu-item"><a class="sidebar__menu-link">НОВОСТИ АССОЦИАЦИИ</a><i class="fa fa-long-arrow-right"></i></li>
              <li class="sidebar__menu-item"><a class="sidebar__menu-link">НОВОСТИ ЗДРАВООХРАНЕНИЯ</a><i class="fa fa-long-arrow-right"></i></li>
            </ul>
          </aside>
          <div class="section__content-main padding__row">
            <h1 class="section__content-title">Все<br>Новости</h1>
            <div class="padding-horiz">
              <p class="str11"><span class="str12">Ассоциация Частных Клиник Москвы анонсирует</span>&nbspсобытия отрасли. Содает информационную среду, помогающую развивать и поддерживать связи между членами сообщества.</p>
            </div>
          </div>
        </div>
        <div class="padding-horiz">
          <div class="border-hr"></div>
        </div>
        <div class="container padding-horiz">
          <div class="section__content-news inline clearfix">
            <div class="col__20">
              <div class="img-wrapper"><img src="images/news/1.jpg"></div>
            </div>
            <div class="col__73 right"><span class="str10">12 октября 2016</span><br><span class="str10">Новости здравоохранения</span><br><br><span class="str8 padding__row"><b>Комиссия по календарю прививок будет создана при Общественной палате РФ.</b></span><br><br><a href="item.html" class="more padding__row"><span class="more__btn"><i class="fa fa-long-arrow-right"></i></span><span class="str3 more__text red"><b>Подробно</b></span></a></div>
          </div>
        </div>
        <div class="padding-horiz">
          <div class="border-hr"></div>
        </div>
        <div class="container padding-horiz">
          <div class="section__content-news inline clearfix">
            <div class="col__20">
              <div class="img-wrapper"><img src="images/news/1.jpg"></div>
            </div>
            <div class="col__73 right"><span class="str10">12 октября 2016</span><br><span class="str10">Новости здравоохранения</span><br><br><span class="str8 padding__row"><b>Комиссия по календарю прививок будет создана при Общественной палате РФ.</b></span><br><br><a href="item.html" class="more padding__row"><span class="more__btn"><i class="fa fa-long-arrow-right"></i></span><span class="str3 more__text red"><b>Подробно</b></span></a></div>
          </div>
        </div>
        <div class="padding-horiz">
          <div class="border-hr"></div>
        </div>
        <div class="container padding-horiz">
          <div class="section__content-news inline clearfix">
            <div class="col__20">
              <div class="img-wrapper"><img src="images/news/1.jpg"></div>
            </div>
            <div class="col__73 right"><span class="str10">12 октября 2016</span><br><span class="str10">Новости здравоохранения</span><br><br><span class="str8 padding__row"><b>Комиссия по календарю прививок будет создана при Общественной палате РФ.</b></span><br><br><a href="item.html" class="more padding__row"><span class="more__btn"><i class="fa fa-long-arrow-right"></i></span><span class="str3 more__text red"><b>Подробно</b></span></a></div>
          </div>
        </div>
        <div class="padding-horiz">
          <div class="border-hr"></div>
        </div>
        <div class="container padding-horiz">
          <div class="section__content-news inline clearfix">
            <div class="col__20">
              <div class="img-wrapper"><img src="images/news/1.jpg"></div>
            </div>
            <div class="col__73 right"><span class="str10">12 октября 2016</span><br><span class="str10">Новости здравоохранения</span><br><br><span class="str8 padding__row"><b>Комиссия по календарю прививок будет создана при Общественной палате РФ.</b></span><br><br><a href="item.html" class="more padding__row"><span class="more__btn"><i class="fa fa-long-arrow-right"></i></span><span class="str3 more__text red"><b>Подробно</b></span></a></div>
          </div>
        </div>
        <div class="padding-horiz">
          <div class="border-hr"></div>
        </div>
        <div class="container padding-horiz">
          <div class="section__content-news inline clearfix">
            <div class="col__20">
              <div class="img-wrapper"><img src="images/news/1.jpg"></div>
            </div>
            <div class="col__73 right"><span class="str10">12 октября 2016</span><br><span class="str10">Новости здравоохранения</span><br><br><span class="str8 padding__row"><b>Комиссия по календарю прививок будет создана при Общественной палате РФ.</b></span><br><br><a href="item.html" class="more padding__row"><span class="more__btn"><i class="fa fa-long-arrow-right"></i></span><span class="str3 more__text red"><b>Подробно</b></span></a></div>
          </div>
        </div>
        <div class="padding-horiz">
          <div class="border-hr"></div>
        </div>
        <div class="container padding-horiz">
          <div class="section__content-news inline clearfix">
            <div class="col__20">
              <div class="img-wrapper"><img src="images/news/1.jpg"></div>
            </div>
            <div class="col__73 right"><span class="str10">12 октября 2016</span><br><span class="str10">Новости здравоохранения</span><br><br><span class="str8 padding__row"><b>Комиссия по календарю прививок будет создана при Общественной палате РФ.</b></span><br><br><a href="item.html" class="more padding__row"><span class="more__btn"><i class="fa fa-long-arrow-right"></i></span><span class="str3 more__text red"><b>Подробно</b></span></a></div>
          </div>
        </div>
        <div class="padding-horiz">
          <div class="border-hr"></div>
        </div>
      </section>
      <div class="pagination-wrapper padding-horiz">
        <ul class="row pagination__list inline tac">
          <li class="pagination__item pagination__item_active"><a href="" class="pagination__link str20">01</a></li>
          <li class="pagination__item"><a href="" class="pagination__link str20">02</a></li>
          <li class="pagination__item"><a href="" class="pagination__link str20">03</a></li>
          <li class="pagination__item"><a href="" class="pagination__link str20">...</a></li>
          <li class="pagination__item"><a href="" class="pagination__link str20">21</a></li>
        </ul>
      </div>
      <div class="container padding-horiz inline">
        <div class="col__50 partners"><span class="str14"><i class="fa fa-bookmark red"></i>Генеральный инфопартнер</span>
          <div class="str10 padding-horiz col__70">10 - я Азиатско-Тихоокеанская Конференция по ортодонтии (APOC) организована Индонезийской ассоциацией</div><span class="ami"></span>
        </div>
        <div class="col__50 partners"><span class="str14"><i class="fa fa-bookmark red"></i>Информационные партнеры</span>
          <ul class="partners-list inline">
            <li class="col__25 partners-list__item"><span class="partner1"></span></li>
            <li class="col__25 partners-list__item"><span class="partner2"></span></li>
            <li class="col__25 partners-list__item"><span class="partner3"></span></li>
            <li class="col__25 partners-list__item"><span class="partner4"></span></li>
            <li class="col__25 partners-list__item"><span class="partner5"></span></li>
            <li class="col__25 partners-list__item"><span class="partner6"></span></li>
            <li class="col__25 partners-list__item"><span class="partner7"></span></li>
            <li class="col__25 partners-list__item"><span class="partner8"></span></li>
          </ul>
        </div>
      </div>
    </main>
    <div class="border-hr"></div>
    <div class="bg-white padding-horiz">
      <div class="container padding-horiz"><span class="str12">Ассоциация Частных Клиник Москвы благодарит за оказываеюмую помощь и приглашает к сотрудничеству всех заинтересованных лиц и оранизации.</span></div>
    </div>
    <footer class="footer">
      <div class="footer__menu">
        <div class="container padding-horiz">
          <ol class="menu__list">
            <li class="menu__list-item"><a href="about.html" class="menu__list-link">ОБ АССОЦИАЦИИ</a>
              <div class="menu__list-submenu"><a href="about.html" class="menu__list-submenu-link">ОБ АССОЦИАЦИИ</a><a href="join.html" class="menu__list-submenu-link">КАК ВСТУПИТЬ</a><a href="clinics.html" class="menu__list-submenu-link">НАШИ КЛИНИКИ</a><a href="people.html" class="menu__list-submenu-link">ЛИЦА АССОЦИАЦИИ</a><a href="partners.html" class="menu__list-submenu-link">ИНФОРМАЦИОННЫЕ ПАРТНЕРЫ</a><a href="code.html" class="menu__list-submenu-link">ЭТИЧЕСКИЙ КОДЕКС</a><a href="specification.html" class="menu__list-submenu-link">ПОЛОЖЕНИЯ, СТАНДАРТЫ, ПРАВИЛА</a><a href="registry.html" class="menu__list-submenu-link">РЕЕСТР АССОЦИАЦИИ</a></div>
            </li>
            <li class="menu__list-item"><a href="news.html" class="menu__list-link">НОВОСТИ</a>
              <div class="menu__list-submenu"><a class="menu__list-submenu-link">ВСЕ НОВОСТИ</a><a class="menu__list-submenu-link">НОВОСТИ АССОЦИАЦИИ</a><a class="menu__list-submenu-link">НОВОСТИ ЗДРАВООХРАНЕНИЯ</a></div>
            </li>
            <li class="menu__list-item"><a href="events.html" class="menu__list-link">СОБЫТИЯ И ОБУЧЕНИЕ</a>
              <div class="menu__list-submenu"><a class="menu__list-submenu-link">ВСЕ МЕРОПРИЯТИЯ</a><a class="menu__list-submenu-link">СОБЫТИЯ</a><a class="menu__list-submenu-link">ОБУЧЕНИЕ</a></div>
            </li>
            <li class="menu__list-item"><a>АНАЛИТИКА</a></li>
            <li class="menu__list-item"><a>ПРЕСС-ЦЕНТР</a></li>
            <li class="menu__list-item"><a href="contacts.html">КОНТАКТЫ</a></li>
          </ol>
        </div>
      </div>
      <div class="footer__top">
        <div class="container inline">
          <div class="footer__leftside"><a class="border-btn jsJoin"><i class="fa fa-long-arrow-right"></i>Вступить в ассоциацию</a><a href="tel:+74957698568" class="tel">+7 (495) 769-85-68</a></div>
          <div class="footer__icons">
            <form id="footSearchForm" class="toggleform search__form">
              <input type="text" name="search" placeholder="Введите поисковый запрос..." class="search__form-input"/>
            </form><a id="fSearch" class="fa__icons-link"><i class="fa fa-search" aria-hidden="true"></i></a>
            <form id="footMailForm" class="toggleform mail__form">
              <input type="email" name="email" placeholder="Ваш e-mail..." class="mail__form-input"/>
              <input type="submit" value="Отправить" class="mail__form-input mail__form-input--submit"/>
            </form><a id="fMail" class="fa__icons-link"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            <div id="footShare" class="share-box share-box--footer"><a class="share-box__link"><i class="fa fa-vk"></i></a><a class="share-box__link"><i class="fa fa-facebook"></i></a><a class="share-box__link"><i class="fa fa-twitter"></i></a></div><a id="fShare" class="fa__icons-link"><i class="fa fa-share-alt" aria-hidden="true"></i></a><a id="fMenu" class="fa__icons-link fa__icons-link--bars"><i id="menuBtn" class="fa fa-bars"></i></a>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container inline"><a class="footer__logo"></a><span class="footer__copy">© Ассоциация Частных Клиник Москвы, 2016</span>
          <div class="footer__social"><a class="footer__social-link"><i class="fa fa-vk"></i></a><a class="footer__social-link"><i class="fa fa-facebook"></i></a><a class="footer__social-link"><i class="fa fa-twitter"></i></a></div>
        </div>
      </div>
    </footer>
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/jquery.particleground.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/fullcalendar.min.js"></script>
    <script src="js/ru.js"></script>
    <script src="js/bxslider.min.js"></script>
    <script src="js/main.js"></script>
    <div class="popup">
      <div class="popup__container padding-container jsJoinPopup">
        <div class="popup__close-wrapper">
          <div class="popup__close right">
            <div class="x shift large"><b></b><b></b><b></b><b></b></div>
          </div>
        </div>
        <div class="popup__inner">
          <div class="popup__title padding-horiz tac"><span class="section__content-title red">Заявка<br/>на вступление в Ассоциацию</span></div><span class="str14">* Отмечены поля обязательные к заполнению</span>
          <div class="popup__form">
            <form action="">
              <div class="popup__row">
                <label class="str10">* Полное юридическое название компании:</label><br/>
                <input type="text" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">* Торговое название компании:</label><br/>
                <input type="text" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">Адрес корпоративного сайта:</label><br/>
                <input type="text"/>
              </div>
              <div class="popup__row">
                <label class="str10">* ФИО контактного лица:</label><br/>
                <input type="text" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">* Телефон контактного лица:</label><br/>
                <input type="tel" pattern="+7-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">Контактный e-mail:</label><br/>
                <input type="email"/>
              </div>
              <div class="popup__row clearfix">
                <div class="right">
                  <input type="submit" value="Отправить" class="popup__submit border-btn border-btn--red"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
