jade/people.jade
extends layout
include mixins.jade

block content
    main
        section.section__content.bg-white
            .container
                +sidebar
                .section__content-main.padding__row
                    h1.section__content-title
                        |Лица
                        br
                        |ассоциации

                    .padding-horiz
                        p.str11
                            span.str12 Ассоциация Частных Клиник Москвы –
                            | &nbspобъединяет не только заинтересованных профессионалов, но и людей не равнодушных к социальному устройству
                    .img-wrap
                        img(src='images/content-img1.jpg')

        .border-hr.padding-horiz
        section
            .container.bg-white
                .tac.padding-horiz
                    span.section__content-title Люди, развивающие ассоциацию
                .double.clearfix
                    .double__upper.col__30.center.padding__row
                        .padding-container
                            .hr-red
                        .tac
                            .associate__number
                                span.str-7.str-7--big.red 7
                                span.str-6.str-6--big.red 6
                                span.str-5.red.padding__row
                                    |Клиник состоит в
                                    br
                                    |ассоциации
                        .padding-container
                            .hr-red
                    .double__item.col__48.left
                        .img-wrap
                            img(src="images/doc/1.jpg")
                        span.str12.padding__row
                            |Басков
                            br
                            |Андрей Владимирович
                        br
                        span.str13.red.padding-horiz
                            b Нейрохирург
                        br
                        span.str10.bg-white Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.
                        br
                        a.str10.padding-horiz
                            b Подробно &nbsp&nbsp
                            i.fa.fa-long-arrow-right
                    .double__item.col__48.right
                        .img-wrap
                            img(src="images/doc/1.jpg")
                        span.str12.padding__row
                            | Басков
                            br
                            | Андрей Владимирович
                        br
                        span.str13.red.padding-horiz
                            b Нейрохирург
                        br
                        span.str10.bg-white Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.
                        br
                        a.str10.padding-horiz
                            b Подробно &nbsp&nbsp
                            i.fa.fa-long-arrow-right

                .double.padding__row.clearfix
                    .double__upper.col__30.center.padding__row
                        .padding-container
                            .hr-red
                        .tac
                            .associate__number
                                span.str-7.str-7--big.red 4
                                span.str-6.str-6--big.red 2
                                span.str-5.red.padding__row
                                    | Клиник состоит в
                                    br
                                    | ассоциации
                        .padding-container
                            .hr-red
                    .double__item.col__48.left
                        .img-wrap
                            img(src="images/doc/1.jpg")
                        span.str12.padding__row
                            | Басков
                            br
                            | Андрей Владимирович
                        br
                        span.str13.red.padding-horiz
                            b Нейрохирург
                        br
                        span.str10.bg-white Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.
                        br
                        a.str10.padding-horiz
                            b Подробно &nbsp&nbsp
                            i.fa.fa-long-arrow-right
                    .double__item.col__48.right
                        .img-wrap
                            img(src="images/doc/1.jpg")
                        span.str12.padding__row
                            | Басков
                            br
                            | Андрей Владимирович
                        br
                        span.str13.red.padding-horiz
                            b Нейрохирург
                        br
                        span.str10.bg-white Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.
                        br
                        a.str10.padding-horiz
                            b Подробно &nbsp&nbsp
                            i.fa.fa-long-arrow-right
                .double.padding__row.clearfix
                    .double__upper.col__30.center.padding__row
                        .padding-container
                            .hr-red
                        .tac
                            .associate__number
                                span.str-7.str-7--big.red 1
                                span.str-6.str-6--big.red 1
                                span.str-5.red.padding__row
                                    | Клиник состоит в
                                    br
                                    | ассоциации
                        .padding-container
                            .hr-red
                    .double__item.col__48.left
                        .img-wrap
                            img(src="images/doc/1.jpg")
                        span.str12.padding__row
                            | Басков
                            br
                            | Андрей Владимирович
                        br
                        span.str13.red.padding-horiz
                            b Нейрохирург
                        br
                        span.str10.bg-white Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.
                        br
                        a.str10.padding-horiz
                            b Подробно &nbsp&nbsp
                            i.fa.fa-long-arrow-right
                    .double__item.col__48.right
                        .img-wrap
                            img(src="images/doc/1.jpg")
                        span.str12.padding__row
                            | Басков
                            br
                            | Андрей Владимирович
                        br
                        span.str13.red.padding-horiz
                            b Нейрохирург
                        br
                        span.str10.bg-white Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.
                        br
                        a.str10.padding-horiz
                            b Подробно &nbsp&nbsp
                            i.fa.fa-long-arrow-right
                .padding-horiz.tac
                    a.border-btn.border-btn--content
                        b Показать ещё
                        |&nbsp&nbsp
                        i.fa.fa-long-arrow-right

dist/people.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/style.css"/><link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <!--meta(name="viewport", content="width=device-width, initial-scale=1")-->
    <!--if GoogleFonts-->
    <!--  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>-->
  </head>
  <body>
    <header class="header">
      <div class="header__top">
        <div class="row container"><span class="header__top-item col__30">Саморегулируемая организация</span><span class="header__top-item col__50"><a href="mailto:info@apcmed.ru " class="mail">info@apcmed.ru</a><a href="tel:+74957698568" class="tel">+7 (495) 769-85-68</a></span>
          <div class="header__top-item right inline"><a class="lang"><span class="lang__item">рус</span></a><span class="lang__center">&nbsp&nbsp|&nbsp&nbsp</span><a class="lang"><span class="lang__item">en</span></a>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="header__bottom">
        <div class="header__inner container clearfix">
          <div class="header__title"><a href="index.html" class="header__logo"><span class="logo"></span></a>
            <h1 class="header__title-text">Ассоциация Частных Клиник<br/>Москвы и ЦФО</h1>
          </div>
          <div class="header__menu"><a href="/" class="menu__list-logo img-wrap"><img src="images/logo.png"/></a>
            <ol class="menu__list">
              <li class="menu__list-item"><a href="about.html">ОБ АССОЦИАЦИИ</a></li>
              <li class="menu__list-item"><a href="news.html">НОВОСТИ</a></li>
              <li class="menu__list-item"><a href="events.html">СОБЫТИЯ И ОБУЧЕНИЕ</a></li>
              <li class="menu__list-item"><a>АНАЛИТИКА</a></li>
              <li class="menu__list-item"><a>ПРЕСС-ЦЕНТР</a></li>
              <li class="menu__list-item"><a href="contacts.html">КОНТАКТЫ</a></li>
            </ol>
          </div>
          <div class="header__icons clearfix">
            <form id="headSearchForm" class="toggleform search__form search__form--top">
              <input type="text" name="search" placeholder="Введите поисковый запрос..." class="search__form-input"/>
            </form><a id="hSearch" class="fa__icons-link"><i class="fa fa-search" aria-hidden="true"></i></a>
            <form id="headMailForm" class="toggleform mail__form mail__form--top">
              <input type="email" name="email" placeholder="Ваш e-mail..." class="mail__form-input"/>
              <input type="submit" value="Отправить" class="mail__form-input mail__form-input--submit"/>
            </form><a id="hMail" class="fa__icons-link"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            <div id="headShare" class="share-box share-box--header"><a class="share-box__link"><i class="fa fa-vk"></i></a><a class="share-box__link"><i class="fa fa-facebook"></i></a><a class="share-box__link"><i class="fa fa-twitter"></i></a></div><a id="hShare" class="fa__icons-link"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </header>
    <div id="particles"></div>
    <main>
      <section class="section__content bg-white">
        <div class="container">
          <aside class="sidebar">
            <div class="sidebar__header"><span class="sidebar__header-inner">01.</span></div>
            <ul class="sidebar__menu">
              <li class="sidebar__menu-item"><a href="about.html" class="sidebar__menu-link">ОБ АССОЦИАЦИИ</a><i class="fa fa-long-arrow-right"></i></li>
              <li class="sidebar__menu-item"><a href="join.html" class="sidebar__menu-link">КАК ВСТУПИТЬ</a><i class="fa fa-long-arrow-right"></i></li>
              <li class="sidebar__menu-item"><a href="clinics.html" class="sidebar__menu-link">НАШИ КЛИНИКИ</a><i class="fa fa-long-arrow-right"></i></li>
              <li class="sidebar__menu-item"><a href="people.html" class="sidebar__menu-link">ЛИЦА АССОЦИАЦИИ</a><i class="fa fa-long-arrow-right"></i></li>
              <li class="sidebar__menu-item"><a href="partners.html" class="sidebar__menu-link">ИНФОРМАЦИОННЫЕ ПАРТНЕРЫ</a><i class="fa fa-long-arrow-right"></i></li>
              <li class="sidebar__menu-item"><a href="code.html" class="sidebar__menu-link">ЭТИЧЕСКИЙ КОДЕКС</a><i class="fa fa-long-arrow-right"></i></li>
              <li class="sidebar__menu-item"><a href="specification.html" class="sidebar__menu-link">ПОЛОЖЕНИЯ, СТАНДАРТЫ, ПРАВИЛА</a><i class="fa fa-long-arrow-right"></i></li>
              <li class="sidebar__menu-item"><a href="registry.html" class="sidebar__menu-link">РЕЕСТР АССОЦИАЦИИ</a><i class="fa fa-long-arrow-right"></i></li>
            </ul>
          </aside>
          <div class="section__content-main padding__row">
            <h1 class="section__content-title">Лица<br>ассоциации</h1>
            <div class="padding-horiz">
              <p class="str11"><span class="str12">Ассоциация Частных Клиник Москвы –</span>&nbspобъединяет не только заинтересованных профессионалов, но и людей не равнодушных к социальному устройству</p>
            </div>
            <div class="img-wrap"><img src="images/content-img1.jpg"></div>
          </div>
        </div>
      </section>
      <div class="border-hr padding-horiz"></div>
      <section>
        <div class="container bg-white">
          <div class="tac padding-horiz"><span class="section__content-title">Люди, развивающие ассоциацию</span></div>
          <div class="double clearfix">
            <div class="double__upper col__30 center padding__row">
              <div class="padding-container">
                <div class="hr-red"></div>
              </div>
              <div class="tac">
                <div class="associate__number"><span class="str-7 str-7--big red">7</span><span class="str-6 str-6--big red">6</span><span class="str-5 red padding__row">Клиник состоит в<br>ассоциации</span></div>
              </div>
              <div class="padding-container">
                <div class="hr-red"></div>
              </div>
            </div>
            <div class="double__item col__48 left">
              <div class="img-wrap"><img src="images/doc/1.jpg"></div><span class="str12 padding__row">Басков<br>Андрей Владимирович</span><br><span class="str13 red padding-horiz"><b>Нейрохирург</b></span><br><span class="str10 bg-white">Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.</span><br><a class="str10 padding-horiz"><b>Подробно &nbsp&nbsp</b><i class="fa fa-long-arrow-right"></i></a>
            </div>
            <div class="double__item col__48 right">
              <div class="img-wrap"><img src="images/doc/1.jpg"></div><span class="str12 padding__row">Басков<br>Андрей Владимирович</span><br><span class="str13 red padding-horiz"><b>Нейрохирург</b></span><br><span class="str10 bg-white">Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.</span><br><a class="str10 padding-horiz"><b>Подробно &nbsp&nbsp</b><i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
          <div class="double padding__row clearfix">
            <div class="double__upper col__30 center padding__row">
              <div class="padding-container">
                <div class="hr-red"></div>
              </div>
              <div class="tac">
                <div class="associate__number"><span class="str-7 str-7--big red">4</span><span class="str-6 str-6--big red">2</span><span class="str-5 red padding__row">Клиник состоит в<br>ассоциации</span></div>
              </div>
              <div class="padding-container">
                <div class="hr-red"></div>
              </div>
            </div>
            <div class="double__item col__48 left">
              <div class="img-wrap"><img src="images/doc/1.jpg"></div><span class="str12 padding__row">Басков<br>Андрей Владимирович</span><br><span class="str13 red padding-horiz"><b>Нейрохирург</b></span><br><span class="str10 bg-white">Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.</span><br><a class="str10 padding-horiz"><b>Подробно &nbsp&nbsp</b><i class="fa fa-long-arrow-right"></i></a>
            </div>
            <div class="double__item col__48 right">
              <div class="img-wrap"><img src="images/doc/1.jpg"></div><span class="str12 padding__row">Басков<br>Андрей Владимирович</span><br><span class="str13 red padding-horiz"><b>Нейрохирург</b></span><br><span class="str10 bg-white">Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.</span><br><a class="str10 padding-horiz"><b>Подробно &nbsp&nbsp</b><i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
          <div class="double padding__row clearfix">
            <div class="double__upper col__30 center padding__row">
              <div class="padding-container">
                <div class="hr-red"></div>
              </div>
              <div class="tac">
                <div class="associate__number"><span class="str-7 str-7--big red">1</span><span class="str-6 str-6--big red">1</span><span class="str-5 red padding__row">Клиник состоит в<br>ассоциации</span></div>
              </div>
              <div class="padding-container">
                <div class="hr-red"></div>
              </div>
            </div>
            <div class="double__item col__48 left">
              <div class="img-wrap"><img src="images/doc/1.jpg"></div><span class="str12 padding__row">Басков<br>Андрей Владимирович</span><br><span class="str13 red padding-horiz"><b>Нейрохирург</b></span><br><span class="str10 bg-white">Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.</span><br><a class="str10 padding-horiz"><b>Подробно &nbsp&nbsp</b><i class="fa fa-long-arrow-right"></i></a>
            </div>
            <div class="double__item col__48 right">
              <div class="img-wrap"><img src="images/doc/1.jpg"></div><span class="str12 padding__row">Басков<br>Андрей Владимирович</span><br><span class="str13 red padding-horiz"><b>Нейрохирург</b></span><br><span class="str10 bg-white">Доктор медицинских наук, профессор кафедры нейрохирургии Российской Медицинской Академии Последипломного Образования.</span><br><a class="str10 padding-horiz"><b>Подробно &nbsp&nbsp</b><i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
          <div class="padding-horiz tac"><a class="border-btn border-btn--content"><b>Показать ещё</b>&nbsp&nbsp<i class="fa fa-long-arrow-right"></i></a></div>
        </div>
      </section>
    </main>
    <div class="border-hr"></div>
    <div class="bg-white padding-horiz">
      <div class="container padding-horiz"><span class="str12">Ассоциация Частных Клиник Москвы благодарит за оказываеюмую помощь и приглашает к сотрудничеству всех заинтересованных лиц и оранизации.</span></div>
    </div>
    <footer class="footer">
      <div class="footer__menu">
        <div class="container padding-horiz">
          <ol class="menu__list">
            <li class="menu__list-item"><a href="about.html" class="menu__list-link">ОБ АССОЦИАЦИИ</a>
              <div class="menu__list-submenu"><a href="about.html" class="menu__list-submenu-link">ОБ АССОЦИАЦИИ</a><a href="join.html" class="menu__list-submenu-link">КАК ВСТУПИТЬ</a><a href="clinics.html" class="menu__list-submenu-link">НАШИ КЛИНИКИ</a><a href="people.html" class="menu__list-submenu-link">ЛИЦА АССОЦИАЦИИ</a><a href="partners.html" class="menu__list-submenu-link">ИНФОРМАЦИОННЫЕ ПАРТНЕРЫ</a><a href="code.html" class="menu__list-submenu-link">ЭТИЧЕСКИЙ КОДЕКС</a><a href="specification.html" class="menu__list-submenu-link">ПОЛОЖЕНИЯ, СТАНДАРТЫ, ПРАВИЛА</a><a href="registry.html" class="menu__list-submenu-link">РЕЕСТР АССОЦИАЦИИ</a></div>
            </li>
            <li class="menu__list-item"><a href="news.html" class="menu__list-link">НОВОСТИ</a>
              <div class="menu__list-submenu"><a class="menu__list-submenu-link">ВСЕ НОВОСТИ</a><a class="menu__list-submenu-link">НОВОСТИ АССОЦИАЦИИ</a><a class="menu__list-submenu-link">НОВОСТИ ЗДРАВООХРАНЕНИЯ</a></div>
            </li>
            <li class="menu__list-item"><a href="events.html" class="menu__list-link">СОБЫТИЯ И ОБУЧЕНИЕ</a>
              <div class="menu__list-submenu"><a class="menu__list-submenu-link">ВСЕ МЕРОПРИЯТИЯ</a><a class="menu__list-submenu-link">СОБЫТИЯ</a><a class="menu__list-submenu-link">ОБУЧЕНИЕ</a></div>
            </li>
            <li class="menu__list-item"><a>АНАЛИТИКА</a></li>
            <li class="menu__list-item"><a>ПРЕСС-ЦЕНТР</a></li>
            <li class="menu__list-item"><a href="contacts.html">КОНТАКТЫ</a></li>
          </ol>
        </div>
      </div>
      <div class="footer__top">
        <div class="container inline">
          <div class="footer__leftside"><a class="border-btn jsJoin"><i class="fa fa-long-arrow-right"></i>Вступить в ассоциацию</a><a href="tel:+74957698568" class="tel">+7 (495) 769-85-68</a></div>
          <div class="footer__icons">
            <form id="footSearchForm" class="toggleform search__form">
              <input type="text" name="search" placeholder="Введите поисковый запрос..." class="search__form-input"/>
            </form><a id="fSearch" class="fa__icons-link"><i class="fa fa-search" aria-hidden="true"></i></a>
            <form id="footMailForm" class="toggleform mail__form">
              <input type="email" name="email" placeholder="Ваш e-mail..." class="mail__form-input"/>
              <input type="submit" value="Отправить" class="mail__form-input mail__form-input--submit"/>
            </form><a id="fMail" class="fa__icons-link"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            <div id="footShare" class="share-box share-box--footer"><a class="share-box__link"><i class="fa fa-vk"></i></a><a class="share-box__link"><i class="fa fa-facebook"></i></a><a class="share-box__link"><i class="fa fa-twitter"></i></a></div><a id="fShare" class="fa__icons-link"><i class="fa fa-share-alt" aria-hidden="true"></i></a><a id="fMenu" class="fa__icons-link fa__icons-link--bars"><i id="menuBtn" class="fa fa-bars"></i></a>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container inline"><a class="footer__logo"></a><span class="footer__copy">© Ассоциация Частных Клиник Москвы, 2016</span>
          <div class="footer__social"><a class="footer__social-link"><i class="fa fa-vk"></i></a><a class="footer__social-link"><i class="fa fa-facebook"></i></a><a class="footer__social-link"><i class="fa fa-twitter"></i></a></div>
        </div>
      </div>
    </footer>
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/jquery.particleground.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/fullcalendar.min.js"></script>
    <script src="js/ru.js"></script>
    <script src="js/bxslider.min.js"></script>
    <script src="js/main.js"></script>
    <div class="popup">
      <div class="popup__container padding-container jsJoinPopup">
        <div class="popup__close-wrapper">
          <div class="popup__close right">
            <div class="x shift large"><b></b><b></b><b></b><b></b></div>
          </div>
        </div>
        <div class="popup__inner">
          <div class="popup__title padding-horiz tac"><span class="section__content-title red">Заявка<br/>на вступление в Ассоциацию</span></div><span class="str14">* Отмечены поля обязательные к заполнению</span>
          <div class="popup__form">
            <form action="">
              <div class="popup__row">
                <label class="str10">* Полное юридическое название компании:</label><br/>
                <input type="text" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">* Торговое название компании:</label><br/>
                <input type="text" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">Адрес корпоративного сайта:</label><br/>
                <input type="text"/>
              </div>
              <div class="popup__row">
                <label class="str10">* ФИО контактного лица:</label><br/>
                <input type="text" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">* Телефон контактного лица:</label><br/>
                <input type="tel" pattern="+7-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required="required"/>
              </div>
              <div class="popup__row">
                <label class="str10">Контактный e-mail:</label><br/>
                <input type="email"/>
              </div>
              <div class="popup__row clearfix">
                <div class="right">
                  <input type="submit" value="Отправить" class="popup__submit border-btn border-btn--red"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
