dist/popup.html

<div class="popup">
  <div class="popup__container padding-container jsJoinPopup">
    <div class="popup__close-wrapper">
      <div class="popup__close right">
        <div class="x shift large"><b></b><b></b><b></b><b></b></div>
      </div>
    </div>
    <div class="popup__inner">
      <div class="popup__title padding-horiz tac"><span class="section__content-title red">Заявка<br/>на вступление в Ассоциацию</span></div><span class="str14">* Отмечены поля обязательные к заполнению</span>
      <div class="popup__form">
        <form action="">
          <div class="popup__row">
            <label class="str10">* Полное юридическое название компании:</label><br/>
            <input type="text" required="required"/>
          </div>
          <div class="popup__row">
            <label class="str10">* Торговое название компании:</label><br/>
            <input type="text" required="required"/>
          </div>
          <div class="popup__row">
            <label class="str10">Адрес корпоративного сайта:</label><br/>
            <input type="text"/>
          </div>
          <div class="popup__row">
            <label class="str10">* ФИО контактного лица:</label><br/>
            <input type="text" required="required"/>
          </div>
          <div class="popup__row">
            <label class="str10">* Телефон контактного лица:</label><br/>
            <input type="tel" pattern="+7-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required="required"/>
          </div>
          <div class="popup__row">
            <label class="str10">Контактный e-mail:</label><br/>
            <input type="email"/>
          </div>
          <div class="popup__row clearfix">
            <div class="right">
              <input type="submit" value="Отправить" class="popup__submit border-btn border-btn--red"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

jade/popup.jade
//-jade popup.jade
.popup
    .popup__container.padding-container.jsJoinPopup
        .popup__close-wrapper
            .popup__close.right
                .x.shift.large
                    b
                    b
                    b
                    b
        .popup__inner
            .popup__title.padding-horiz.tac
                span.section__content-title.red
                    | Заявка
                    br
                    | на вступление в Ассоциацию
            span.str14 * Отмечены поля обязательные к заполнению
            .popup__form
                form(action="")
                    .popup__row
                        label.str10 * Полное юридическое название компании:
                        br
                        input(type="text", required)
                    .popup__row
                        label.str10 * Торговое название компании:
                        br
                        input(type="text", required)
                    .popup__row
                        label.str10 Адрес корпоративного сайта:
                        br
                        input(type="text")
                    .popup__row
                        label.str10 * ФИО контактного лица:
                        br
                        input(type="text", required)
                    .popup__row
                        label.str10 * Телефон контактного лица:
                        br
                        input(type="tel", pattern="\+7\-[0-9]{3}\-[0-9]{3}\-[0-9]{2}\-[0-9]{2}", required)
                    .popup__row
                        label.str10 Контактный e-mail:
                        br
                        input(type="email")
                    .popup__row.clearfix
                        .right
                            input(type="submit", value='Отправить').popup__submit.border-btn.border-btn--red
